---
title: VMware Tanzu Application Service for Windows v5.0 Release Notes
owner: Garden Windows
---

This topic contains release notes for <%= vars.windows_runtime_full %> (<%= vars.windows_runtime_abbr %>) <%= vars.v_major_version %>.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a MySQL patch and VMware releasing
<%= vars.windows_runtime_abbr %> containing that patch.

Before you install the tile, review the [Windows Stemcell Compatibility Matrix](stemcells.html#compatibility).

<hr>

## <a id='releases'></a> Releases

### <a id='4.0.0'></a> 4.0.0

**Release Date:** 03/22/2023

* Bump diego to version `2.72.0`
* Bump envoy-nginx to version `0.15.0`
* Bump garden-runc to version `1.25.0`
* Bump loggregator-agent to version `7.1.2`
* Bump windowsfs-release to version `2.46.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td><td></td></tr>
    <tr><td>diego</td><td>2.72.0</td><td></td></tr>
    <tr><td>envoy-nginx</td><td>0.15.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.25.0</td><td></td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.28</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>7.1.2</td>
      <td>
        <details>
          <summary>v7.1.2</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * update to golang 1.20.1
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v7.1.1...v7.1.2
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>metrics-discovery</td><td>3.2.7</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.8.2</td><td></td></tr>
    <tr><td>winc</td><td>2.10.0</td><td></td></tr>
    <tr><td>windows-syslog</td><td>1.1.13</td><td></td></tr>
    <tr><td>windows-utilities</td><td>0.17.0</td><td></td></tr>
    <tr><td>windowsfs-release</td><td>2.46.0</td><td></td></tr>
  </tbody>
</table>





## <a id='upgrade'></a> How to Upgrade

The <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile is available with the release of <%= vars.app_runtime_full %>
(<%= vars.app_runtime_abbr %>) <%= vars.v_major_version %>. To use the <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile, you must install
<%= vars.ops_manager_full %> v2.10 or later and <%= vars.app_runtime_abbr %> <%= vars.v_major_version %> or later.


## <a id='new-features'></a> New Features in <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> includes the following major feature:

### Integrated Windows Authentication

You can now log in to your .NET Framework applications using your existing Active Directory Domain. For setup details, see [Windows Authentication for .Net apps](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/windows-authentication.html)

## <a id='breaking-changes'></a> Breaking Changes

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> includes the following breaking change:

### Option to Enable (Deprecated) Global Log Rate Limit is Removed

This feature was in beta until IST v3.0, when it was deprecated. For details, see [VMware Tanzu Application Service for Windows v3.0 Release Notes](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/3.0/tas-for-vms/release-notes.html#global-log-rate-limit-is-deprecated-14)
following the introduction of app log rate limits. For more information, see [App Log Rate Feature](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/3.0/tas-for-vms/runtime-rn.html#app-log-rate-limits-for-orgs-spaces-and-individual-apps-14).
This option to enable the feature has now been removed, and you must apply app log rate limits instead.

Note that if you were using this feature to limit your overall app log
throughput, then you might see an increase in log load after you upgrade.

To
mitigate this, either:

* Scale up your logging system before you upgrade to TASW v4.0 to compensate for the increased log load.
* Upgrade to TAS/TASW v3.0 first to set app-level log rate limits while retaining the global log rate limit. For more details, see [App Log Rate Limits](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/app-log-rate-limits.html).

## <a id='known-issues'></a> Known Issues

There are no known issues for <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>.
