---
title: VMware Tanzu Application Service for Windows v2.11 Release Notes
owner: Garden Windows
---

This topic contains release notes for <%= vars.windows_runtime_full %> <%= vars.v_major_version %>.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a MySQL patch and VMware releasing
<%= vars.windows_runtime_abbr %> containing that patch.

<p class='note warning'><strong>Warning:</strong> Windows stemcells v2019.44 and later include a version of <code>tar</code> that is incompatible with
  winfs2019-release v2.33.1 and earlier. For more information, see <a href="#windows-stemcell-tar">Windows Stemcell v2019.44 is Incompatible with
  winfs2019-release v2.33.1 and Earlier</a> below.</p>

Before you install the tile, review the [Windows Stemcell Compatibility Matrix](stemcells.html#compatibility).

<hr>

## <a id='releases'></a> Releases

### <a id='2.11.36'></a> 2.11.36

**Release Date:** 08/08/2023

* Bump envoy-nginx to version `0.19.0`
* Bump windows-syslog to version `1.1.16`
* Bump loggregator-agent to version `6.5.12`
* Bump metrics-discovery to version `3.2.12`
* Bump winc to version `2.14.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.63</td><td></td></tr>
    <tr><td>count-cores-indicator</td><td>2.0.0</td><td></td></tr>
    <tr><td>diego</td><td>2.80.0</td><td></td></tr>
    <tr><td>envoy-nginx</td><td>0.19.0</td>
      <td>
        <details>
          <summary>v0.19.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - No code changes - testing new CI credentials
  ## ✨  Built with go 1.20.6
  **Full Changelog**: https://github.com/cloudfoundry/envoy-nginx-release/compare/v0.18.0...v0.19.0
  ## Resources
  - [Download release v0.19.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/envoy-nginx-release?version=0.19.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>event-log</td><td>0.9.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.34.0</td><td></td></tr>
    <tr><td>windows-syslog</td><td>1.1.16</td>
      <td>
        <details>
          <summary>v1.1.16</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Update packaged Golang version to v1.20.6
  **Full Changelog**: https://github.com/cloudfoundry/windows-syslog-release/compare/v1.1.15...v1.1.16
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.31</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.5.12</td>
      <td>
        <details>
          <summary>v6.5.12</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump dependencies
  * Update packaged Golang version to v1.20.6
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v6.5.11...v6.5.12
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>metrics-discovery</td><td>3.2.12</td>
      <td>
        <details>
          <summary>v3.2.12</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump dependencies
  * Bump Go to v1.20.6
  **Full Changelog**: https://github.com/cloudfoundry/metrics-discovery-release/compare/v3.2.11...v3.2.12
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>smoke-tests</td><td>4.8.3</td><td></td></tr>
    <tr><td>winc</td><td>2.14.0</td>
      <td>
        <details>
          <summary>v2.14.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bumped to golang 1.20.6
  - Added an endpoint to the sample WindowsAuth app included for testing SQL Server endpoints.
  ## ✨  Built with go 1.20.6
  **Full Changelog**: https://github.com/cloudfoundry/winc-release/compare/v2.13.0...v2.14.0
  ## Resources
  - [Download release v2.14.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/winc-release?version=2.14.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>windows-utilities</td><td>0.14.0</td><td></td></tr>
  </tbody>
</table>



### <a id='2.11.35'></a> 2.11.35

**Release Date:** 07/21/2023

* **[Feature Improvement]** Use routing_info for desired_lrps when there are missing actual_lrps.
* **[Feature]** Add distributed tracing to Diego component logs.
* **[Bug Fix]** Prevents cachedownloader from erroneously deleting old entries.
* **[Bug Fix]** Resolves a race condition in BBS when the replacement for a suspect LRP has started.
* Bump diego to version `2.80.0`
* Bump envoy-nginx to version `0.18.0`
* Bump garden-runc to version `1.34.0`
* Bump windows-syslog to version `1.1.15`
* Bump metrics-discovery to version `3.2.11`
* Bump smoke-tests to version `4.8.3`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.63</td><td></td></tr>
    <tr><td>count-cores-indicator</td><td>2.0.0</td><td></td></tr>
    <tr><td>diego</td><td>2.80.0</td>
      <td>
        <details>
          <summary>v2.80.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bumped to golang 1.20.6
  ## ✨  Built with go 1.20.6
  **Full Changelog**: https://github.com/cloudfoundry/diego-release/compare/v2.79.0...v2.80.0
  ## Resources
  - [Download release v2.80.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/diego-release?version=2.80.0).
          </pre>
        </details>
        <details>
          <summary>v2.79.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - [Feature Improvement]: Use routing_info for desired_lrp's when there are missing actual_lrp's https://github.com/cloudfoundry/route-emitter/pull/26. Thank you for this contribution @klapkov!
  - [Feature]: Support distributed tracing https://github.com/cloudfoundry/route-emitter/pull/24. Thank you @mariash for this contribution!
  - [Bug Fix]: Fix bug with cachedownloader in PR https://github.com/cloudfoundry/cacheddownloader/pull/26.  Fixes issue https://github.com/cloudfoundry/diego-release/issues/773. Thank you @vlast3k for this contribution!
  - [Bug Fix]: Resolves a race condition in BBS when the replacement for a suspect LRP has started.
  ## ✨  Built with go 1.20.5
  **Full Changelog**: https://github.com/cloudfoundry/diego-release/compare/v2.78.0...v2.79.0
  ## Resources
  - [Download release v2.79.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/diego-release?version=2.79.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>envoy-nginx</td><td>0.18.0</td>
      <td>
        <details>
          <summary>v0.18.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bumped golang to 1.20.6
  ## ✨  Built with go 1.20.6
  **Full Changelog**: https://github.com/cloudfoundry/envoy-nginx-release/compare/v0.17.0...v0.18.0
  ## Resources
  - [Download release v0.18.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/envoy-nginx-release?version=0.18.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>event-log</td><td>0.9.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.34.0</td>
      <td>
        <details>
          <summary>v1.34.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bumped golang to 1.20.6
  - Refactors, enhancements, and fixes to CI scripts and garden-integration-tests
  ## ✨  Built with go 1.20.6
  **Full Changelog**: https://github.com/cloudfoundry/garden-runc-release/compare/v1.33.0...v1.34.0
  ## Resources
  - [Download release v1.34.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/garden-runc-release?version=1.34.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>windows-syslog</td><td>1.1.15</td>
      <td>
        <details>
          <summary>v1.1.15</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Dependency bumps
  * Update packaged Golang version to v1.20.5
  **Full Changelog**: https://github.com/cloudfoundry/windows-syslog-release/compare/v1.1.14...v1.1.15
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.31</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.5.11</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.2.11</td>
      <td>
        <details>
          <summary>v3.2.11</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * bump dependencies by @mkocher in https://github.com/cloudfoundry/metrics-discovery-release/pull/151
  ## New Contributors
  * @mkocher made their first contribution in https://github.com/cloudfoundry/metrics-discovery-release/pull/151
  **Full Changelog**: https://github.com/cloudfoundry/metrics-discovery-release/compare/v3.2.10...v3.2.11
          </pre>
        </details>
        <details>
          <summary>v3.2.10</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Add CODEOWNERS file in preparation for branch protection rules by @geofffranks in https://github.com/cloudfoundry/metrics-discovery-release/pull/144
  * Bump dependencies
  * Bump to golang 1.20.5
  ## New Contributors
  * @geofffranks made their first contribution in https://github.com/cloudfoundry/metrics-discovery-release/pull/144
  **Full Changelog**: https://github.com/cloudfoundry/metrics-discovery-release/compare/v3.2.9...v3.2.10
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>smoke-tests</td><td>4.8.3</td>
      <td>
        <details>
          <summary>4.8.3</summary>
          <pre style="max-width: 30em">
  Create bosh final release 4.8.3
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>winc</td><td>2.13.0</td><td></td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td><td></td></tr>
  </tbody>
</table>



### <a id='2.11.34'></a> 2.11.34

**Release Date:** 06/26/2023

* **[Feature]** Adds support for W3C Trace ID logging across Diego component requests
* **[Bug Fix]** Timeouts in for executor's uploader have been increased to 500ms
* **[Bug Fix]** Byte-based logging limits for LRPs and Tasks now emit only once per second
* **[Bug Fix/Improvement]** Garden now ships with Busybox 1.36.1 as the default filesystem

* Bump diego to version `2.78.0`
* Bump envoy-nginx to version `0.17.0`
* Bump garden-runc to version `1.33.0`
* Bump loggregator-agent to version `6.5.11`
* Bump winc to version `2.13.0`
* Bump windowsfs-release to version `2.53.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.61</td><td></td></tr>
    <tr><td>count-cores-indicator</td><td>2.0.0</td><td></td></tr>
    <tr><td>diego</td><td>2.78.0</td>
      <td>
        <details>
          <summary>v2.78.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bumped to golang 1.20.5
  - Vizzini now defaults to cflinuxfs4
  ## Bosh Job Spec changes:
  ```diff
  diff --git a/jobs/vizzini/spec b/jobs/vizzini/spec
  index 40b5eb74b..6ff53c654 100644
  --- a/jobs/vizzini/spec
  +++ b/jobs/vizzini/spec
  @@ -73,7 +73,7 @@ properties:
  default_rootfs:
  description: "Default preloaded rootfs to target for running Tasks and LRPs"
  -    default: "preloaded:cflinuxfs3"
  +    default: "preloaded:cflinuxfs4"
  grace_tarball_url:
  description: "URL for the grace test asset"
  ```
  ## ✨  Built with go 1.20.5
  **Full Changelog**: https://github.com/cloudfoundry/diego-release/compare/v2.77.0...v2.78.0
  ## Resources
  - [Download release v2.78.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/diego-release?version=2.78.0).
          </pre>
        </details>
        <details>
          <summary>v2.77.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Adds support for W3C Trace ID logging across diego component requests
  - Timeouts in for executor's uploader have been increased to 500ms
  - Byte-based logging limits for LRPs and Tasks now emit only once per second
  -  LRPs can now have liveness and readiness check intervals defined when the LRP is created.
  - Dependency Bumps:
  - code.cloudfoundry.org/archiver a23cadd462ce
  - code.cloudfoundry.org/certsplitter a2c6caf14c29
  - code.cloudfoundry.org/cf-tcp-router ecebe81f2c0c
  - code.cloudfoundry.org/credhub-cli 439bdb2
  - code.cloudfoundry.org/debugserver 70a733dc508f
  - code.cloudfoundry.org/diego-logging-client 40495b68ac2e
  - code.cloudfoundry.org/durationjson 7a601daf48ee
  - code.cloudfoundry.org/eventhub 8efdeac72e14
  - code.cloudfoundry.org/garden 8444ff5a31d7
  - code.cloudfoundry.org/goshims v0.17.0
  - code.cloudfoundry.org/grootfs 79fecf24
  - code.cloudfoundry.org/guardian 98f55817772e
  - code.cloudfoundry.org/idmapper a410520
  - code.cloudfoundry.org/localip 2ea90d997658
  - github.com/aws/aws-sdk-go v1.44.269
  - github.com/awslabs/amazon-ecr-credential-helper/ecr-login 7f2db5bd753e
  - github.com/cloudfoundry/dropsonde v1.1.0
  - github.com/docker/docker v24.0.1+incompatible
  - github.com/envoyproxy/go-control-plane ba92d50b6596
  - github.com/nats-io/nats-server/v2 v2.9.17
  - github.com/nats-io/nats.go v1.26.0
  - github.com/onsi/ginkgo/v2 v2.9.5
  - github.com/onsi/gomega v1.27.7
  - github.com/tedsuo/ifrit 7862c310ad26
  - golang.org/x/sys v0.8.0
  - google.golang.org/grpc v1.55.0
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/diego-release/compare/v2.76.0...v2.77.0
  ## Resources
  - [Download release v2.77.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/diego-release?version=2.77.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>envoy-nginx</td><td>0.17.0</td>
      <td>
        <details>
          <summary>v0.17.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bumped golang to 1.20.5
  ## ✨  Built with go 1.20.5
  **Full Changelog**: https://github.com/cloudfoundry/envoy-nginx-release/compare/v0.16.0...v0.17.0
  ## Resources
  - [Download release v0.17.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/envoy-nginx-release?version=0.17.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>event-log</td><td>0.9.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.33.0</td>
      <td>
        <details>
          <summary>v1.33.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bumped to golang 1.20.5
  ## ✨  Built with go 1.20.5
  **Full Changelog**: https://github.com/cloudfoundry/garden-runc-release/compare/v1.32.0...v1.33.0
  ## Resources
  - [Download release v1.33.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/garden-runc-release?version=1.33.0).
          </pre>
        </details>
        <details>
          <summary>v1.32.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - The grootfs package no longer ships with test asset tarballs (those are only used for unit tests and don't need to be installed as part of the package).
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/garden-runc-release/compare/v1.31.0...v1.32.0
  ## Resources
  - [Download release v1.32.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/garden-runc-release?version=1.32.0).
          </pre>
        </details>
        <details>
          <summary>v1.31.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Garden now ships with Busybox 1.36.1 as the default filesystem
  - Dependency Bumps
  - healthchecker boshrelease  v0.8.0
  - github.com/onsi/gomega v1.27.7
  - go.opentelemetry.io/otel v1.15.1
  - github.com/burntsushi/toml v1.3.0
  - github.com/docker/docker v24.0.2+incompatible
  - github.com/urfave/cli/v2 v2.25.5
  - github.com/cloudfoundry/dropsonde v1.1.0
  - github.com/sirupsen/logrus v1.9.2
  ## Bosh Job Spec changes:
  ```diff
  diff --git a/jobs/garden/spec b/jobs/garden/spec
  index c69f4080..259bba46 100644
  --- a/jobs/garden/spec
  +++ b/jobs/garden/spec
  @@ -89,7 +89,7 @@ properties:
  garden.default_container_rootfs:
  description: "path to the rootfs to use when a container specifies no rootfs"
  -    default: /var/vcap/packages/busybox/busybox-1.35.0.tar
  +    default: /var/vcap/packages/busybox/busybox-1.36.1.tar
  garden.graph_cleanup_threshold_in_mb:
  description: "DEPRECATED in favour of grootfs.reserved_space_for_other_jobs_in_mb."
  ```
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/garden-runc-release/compare/v1.30.0...v1.31.0
  ## Resources
  - [Download release v1.31.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/garden-runc-release?version=1.31.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>windows-syslog</td><td>1.1.14</td><td></td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.31</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.5.11</td>
      <td>
        <details>
          <summary>v6.5.11</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * bump dependencies
  * bump to golang 1.20.5
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v6.5.10...v6.5.11
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>metrics-discovery</td><td>3.2.9</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.8.2</td><td></td></tr>
    <tr><td>winc</td><td>2.13.0</td>
      <td>
        <details>
          <summary>v2.13.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bumped go to 1.20.5
  ## ✨  Built with go 1.20.5
  **Full Changelog**: https://github.com/cloudfoundry/winc-release/compare/v2.12.0...v2.13.0
  ## Resources
  - [Download release v2.13.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/winc-release?version=2.13.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>windows-utilities</td><td>0.14.0</td><td></td></tr>
  </tbody>
</table>



### <a id='2.11.33'></a> 2.11.33

**Release Date:** 06/02/2023

* Bump envoy-nginx to version `0.16.0`
* Bump garden-runc to version `1.30.0`
* Bump hwc-offline-buildpack to version `3.1.31`
* Bump winc to version `2.12.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.61</td><td></td></tr>
    <tr><td>count-cores-indicator</td><td>2.0.0</td><td></td></tr>
    <tr><td>diego</td><td>2.76.0</td><td></td></tr>
    <tr><td>envoy-nginx</td><td>0.16.0</td>
      <td>
        <details>
          <summary>v0.16.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Dependency bumps:
  - go 1.20.4
  - github.com/fsnotify/fsnotify 1.6.0
  - github.com/onsi/ginkgo 2.9.5
  - github.com/onsi/gomega 1.27.6
  - gpkg.in/yaml.v2 2.4.0
  - updated CI testing scripts for better error handling
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/envoy-nginx-release/compare/v0.15.0...v0.16.0
  ## Resources
  - [Download release v0.16.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/envoy-nginx-release?version=0.16.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>event-log</td><td>0.9.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.30.0</td>
      <td>
        <details>
          <summary>v1.30.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bump dependencies:
  - github.com/onsi/ginkgo 2.9.5
  - golang.org/x/sys 0.8.0
  - Add support for including request trace IDs in garden/guardian
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/garden-runc-release/compare/v1.29.0...v1.30.0
  ## Resources
  - [Download release v1.30.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/garden-runc-release?version=1.30.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>windows-syslog</td><td>1.1.14</td><td></td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.31</td>
      <td>
        <details>
          <summary>3.1.31</summary>
          <pre style="max-width: 30em">
  * Updating github-config (#127)
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | hwc | 23.0.0 | windows, windows2016 |
  Default binary versions:
  | name | version |
  |-|-|
  | hwc | 23.0.0 |
  * Uncached buildpack SHA256: 22b3e864d959aa711d10503788a01946fc7be9d29c8252a64de5dfa4c396ae90
  * Uncached buildpack SHA256: dbe18078d9fe47acbb6485876e2c67547995976943e47b5c1637d72e9ea9bf58
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>loggregator-agent</td><td>6.5.10</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.2.9</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.8.2</td><td></td></tr>
    <tr><td>winc</td><td>2.12.0</td>
      <td>
        <details>
          <summary>v2.12.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Removes the deprecated-since-2019 `winc-network` job. Please use `winc-network-hns-acls` instead.
  - CI testing updates
  - Dependency Bumps:
  - github.com/hectane/go-acl ca0b05cb1adb
  - code.cloudfoundry.org/winc 4302f985e6d0b575bc1024b4a1c5a174a8cff1c8
  - code.cloudfoundry.org/cert-injector f66dd1e
  - code.cloudfoundry.org/diff-exporter 925b0b8
  - code.cloudfoundry.org/groot-windows 5225dd5
  - code.cloudfoundry.org/winc 2d0fe6e
  - code.cloudfoundry.org/certsplitter 906ffdf32df6e823dabb31a5f6572aca72e52be6
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/winc-release/compare/v2.11.1...v2.12.0
  ## Resources
  - [Download release v2.12.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/winc-release?version=2.12.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>windows-utilities</td><td>0.14.0</td><td></td></tr>
  </tbody>
</table>



### <a id='2.11.32'></a> 2.11.32

**Release Date:** 05/25/2023


<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.61</td></tr>
    <tr><td>count-cores-indicator</td><td>2.0.0</td></tr>
    <tr><td>diego</td><td>2.76.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.15.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.29.0</td></tr>
    <tr><td>windows-syslog</td><td>1.1.14</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.30</td></tr>
    <tr><td>loggregator-agent</td><td>6.5.10</td></tr>
    <tr><td>metrics-discovery</td><td>3.2.9</td></tr>
    <tr><td>smoke-tests</td><td>4.8.2</td></tr>
    <tr><td>winc</td><td>2.11.1</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
  </tbody>
</table>



### <a id='2.11.31'></a> 2.11.31

**Release Date:** 05/12/2023

* Bump count-cores-indicator to version `2.0.0`
* Bump diego to version `2.76.0`
* Bump garden-runc to version `1.29.0`
* Bump windows-syslog to version `1.1.14`
* Bump hwc-offline-buildpack to version `3.1.30`
* Bump loggregator-agent to version `6.5.10`
* Bump metrics-discovery to version `3.2.9`
* Bump winc to version `2.11.1`
* Bump windowsfs-release to version `2.52.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.60</td><td></td></tr>
    <tr><td>count-cores-indicator</td><td>2.0.0</td><td></td></tr>
    <tr><td>diego</td><td>2.76.0</td>
      <td>
        <details>
          <summary>v2.76.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bump to Go 1.20.4
  - Bump dependencies
  ## Bosh Job Spec changes:
  ```diff
  diff --git a/jobs/auctioneer/spec b/jobs/auctioneer/spec
  index ae685ceb9..1fac48936 100644
  --- a/jobs/auctioneer/spec
  +++ b/jobs/auctioneer/spec
  @@ -88,6 +88,12 @@ properties:
  diego.auctioneer.locket.api_location:
  description: "Hostname and port of the Locket server. When set, the auctioneer attempts to claim a lock from the Locket API."
  default: locket.service.cf.internal:8891
  +  diego.auctioneer.locket.client_keepalive_time:
  +    description: "Period in seconds after which the locket gRPC client sends keepalive ping requests to the locket server it is connected to."
  +    default: 10
  +  diego.auctioneer.locket.client_keepalive_timeout:
  +    description: "Timeout in seconds to receive a response to the keepalive ping. If a response is not received within this time, the locket client will reconnect to another server."
  +    default: 22
  locks.locket.enabled:
  description: When set, the auctioneer attempts to claim a lock from the Locket API.
  diff --git a/jobs/bbs/spec b/jobs/bbs/spec
  index b6f1040c2..9204a8d4c 100644
  --- a/jobs/bbs/spec
  +++ b/jobs/bbs/spec
  @@ -140,6 +140,12 @@ properties:
  diego.bbs.locket.api_location:
  description: "Hostname and port of the Locket server. When set, the BBS attempts to claim a lock from the Locket API and will detect Diego cells registered with the Locket API."
  default: locket.service.cf.internal:8891
  +  diego.bbs.locket.client_keepalive_time:
  +    description: "Period in seconds after which the locket gRPC client sends keepalive ping requests to the locket server it is connected to."
  +    default: 10
  +  diego.bbs.locket.client_keepalive_timeout:
  +    description: "Timeout in seconds to receive a response to the keepalive ping. If a response is not received within this time, the locket client will reconnect to another server."
  +    default: 22
  limits.open_files:
  description: Maximum number of files (including sockets) the BBS process may have open.
  diff --git a/jobs/rep/spec b/jobs/rep/spec
  index df7bd7c49..1383b67c0 100644
  --- a/jobs/rep/spec
  +++ b/jobs/rep/spec
  @@ -217,6 +217,12 @@ properties:
  diego.rep.locket.api_location:
  description: "Hostname and port of the Locket server. When set, the cell rep will establish its cell registration in the Locket API."
  default: locket.service.cf.internal:8891
  +  diego.rep.locket.client_keepalive_time:
  +    description: "Period in seconds after which the locket gRPC client sends keepalive ping requests to the locket server it is connected to."
  +    default: 10
  +  diego.rep.locket.client_keepalive_timeout:
  +    description: "Timeout in seconds to receive a response to the keepalive ping. If a response is not received within this time, the locket client will reconnect to another server."
  +    default: 22
  enable_declarative_healthcheck:
  description: "When set, enables the rep to prefer the LRP CheckDefinition to healthcheck instances over the Monitor action. Requires Garden-Runc v1.10.0+"
  diff --git a/jobs/rep_windows/spec b/jobs/rep_windows/spec
  index 4fc4504bf..023d76f18 100644
  --- a/jobs/rep_windows/spec
  +++ b/jobs/rep_windows/spec
  @@ -227,7 +227,13 @@ properties:
  diego.rep.locket.api_location:
  description: "Hostname and port of the locket server"
  default: locket.service.cf.internal:8891
  -
  +  diego.rep.locket.client_keepalive_time:
  +    description: "Period in seconds after which the locket gRPC client sends keepalive ping requests to the locket server it is connected to."
  +    default: 10
  +  diego.rep.locket.client_keepalive_timeout:
  +    description: "Timeout in seconds to receive a response to the keepalive ping. If a response is not received within this time, the locket client will reconnect to another server."
  +    default: 22
  +
  enable_declarative_healthcheck:
  description: "When set, enables the rep to prefer the LRP CheckDefinition to healthcheck instances over the Monitor action."
  default: false
  diff --git a/jobs/vizzini/spec b/jobs/vizzini/spec
  index fa6c8d0d0..40b5eb74b 100644
  --- a/jobs/vizzini/spec
  +++ b/jobs/vizzini/spec
  @@ -47,9 +47,6 @@ properties:
  vizzini.verbose:
  description: Run tests in verbose mode
  default: false
  -  vizzini.stream:
  -    description: Stream output from parallel test nodes. This option will lead to less coherent output but is useful when debugging
  -    default: false
  enable_declarative_healthcheck:
  description: "When set, enables the declarative check tests in vizzini"
  ```
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/diego-release/compare/v2.75.0...v2.76.0
  ## Resources
  - [Download release v2.76.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/diego-release?version=2.76.0).
          </pre>
        </details>
        <details>
          <summary>v2.75.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Bump ginkgo to v2 and lager to v3
  * [Bug fix] Rep does not clean up resources when deleting container fails
  ## ✨  Built with go 1.20.3
  **Full Changelog**: https://github.com/cloudfoundry/diego-release/compare/v2.73.0...v2.75.0
  ## Resources
  - [Download release v2.75.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/diego-release?version=2.75.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>envoy-nginx</td><td>0.15.0</td><td></td></tr>
    <tr><td>event-log</td><td>0.9.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.29.0</td>
      <td>
        <details>
          <summary>v1.29.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  ⚠️We have removed the garden-healthcheck job from garden while we investigate a way to make it less painful. From v1.22.6 through v1.28.0, garden restarts with a high container count could result in BOSH deploys failing due to a race condition between garden, bpm, monit, and garden-healthchecker. This will be re-enabled at a later time when we resolve the race condition.
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/garden-runc-release/compare/v1.28.0...v1.29.0
  ## Resources
  - [Download release v1.29.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/garden-runc-release?version=1.29.0).
          </pre>
        </details>
        <details>
          <summary>v1.28.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bump to golang 1.20.4
  - Bump dependencies
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/garden-runc-release/compare/v1.27.0...v1.28.0
  ## Resources
  - [Download release v1.28.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/garden-runc-release?version=1.28.0).
          </pre>
        </details>
        <details>
          <summary>v1.27.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Bump ginkgo to v2 and lager to v3
  ## ✨  Built with go 1.20.3
  **Full Changelog**: https://github.com/cloudfoundry/garden-runc-release/compare/v1.26.0...v1.27.0
  ## Resources
  - [Download release v1.27.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/garden-runc-release?version=1.27.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>windows-syslog</td><td>1.1.14</td>
      <td>
        <details>
          <summary>v1.1.14</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * update dependencies
  * update golang to 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/windows-syslog-release/compare/v1.1.13...v1.1.14
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.30</td>
      <td>
        <details>
          <summary>3.1.30</summary>
          <pre style="max-width: 30em">
  * Update libbuildpack
  * Bump github.com/onsi/gomega from 1.27.4 to 1.27.6
  * Bump github.com/onsi/gomega from 1.26.0 to 1.27.4
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | hwc | 23.0.0 | windows, windows2016 |
  Default binary versions:
  | name | version |
  |-|-|
  | hwc | 23.0.0 |
  * Uncached buildpack SHA256: 6f4ed709322d792dfe1ac4d28dd1d488e7db2807ef372bff1bfe1cfe23672373
  * Uncached buildpack SHA256: 470d6da338b0bdd646ddda4e7da5f5394eb535cef5923df6da4ec8e306652819
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>loggregator-agent</td><td>6.5.10</td>
      <td>
        <details>
          <summary>v6.5.10</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump to [go1.20.4](https://groups.google.com/g/golang-announce/c/MEb0UyuSMsU/m/QvrjqM4XAgAJ)
  * Bump dependencies
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v6.5.9...v6.5.10
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>metrics-discovery</td><td>3.2.9</td>
      <td>
        <details>
          <summary>v3.2.9</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump to [go1.20.4](https://groups.google.com/g/golang-announce/c/MEb0UyuSMsU/m/QvrjqM4XAgAJ)
  * Bump dependencies
  **Full Changelog**: https://github.com/cloudfoundry/metrics-discovery-release/compare/v3.2.8...v3.2.9
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>smoke-tests</td><td>4.8.2</td><td></td></tr>
    <tr><td>winc</td><td>2.11.1</td>
      <td>
        <details>
          <summary>v2.11.1</summary>
          <pre style="max-width: 30em">
  ## Changes
  - There were no changes in this release. It was created to test the release pipeline.
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/winc-release/compare/v2.11.0...v2.11.1
  ## Resources
  - [Download release v2.11.1 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/winc-release?version=2.11.1).
          </pre>
        </details>
        <details>
          <summary>v2.11.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bump to go 1.20.4
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/winc-release/compare/v2.10.0...v2.11.0
  ## Resources
  - [Download release v2.11.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry-incubator/winc-release?version=2.11.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>windows-utilities</td><td>0.14.0</td><td></td></tr>
    <tr><td>windowsfs-release</td><td>2.51.0</td><td></td></tr>
  </tbody>
</table>



### <a id='2.11.30'></a> 2.11.30

**Release Date:** 04/20/2023

* Bump diego to version `2.73.0`
* Bump garden-runc to version `1.26.0`
* Bump hwc-offline-buildpack to version `3.1.29`
* Bump loggregator-agent to version `6.5.9`
* Bump metrics-discovery to version `3.2.8`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td><td></td></tr>
    <tr><td>diego</td><td>2.73.0</td><td></td></tr>
    <tr><td>envoy-nginx</td><td>0.15.0</td><td></td></tr>
    <tr><td>event-log</td><td>0.9.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.26.0</td><td></td></tr>
    <tr><td>windows-syslog</td><td>1.1.13</td><td></td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.29</td>
      <td>
        <details>
          <summary>3.1.29</summary>
          <pre style="max-width: 30em">
  * Add hwc 23.0.0, remove hwc 21.0.0
  for stack(s) windows2016, windows
  (https://www.pivotaltracker.com/story/show/184616166)
  * Buildpack dependencies are built with go 1.20
  (See https://github.com/cloudfoundry/binary-builder/pull/68)
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | hwc | 23.0.0 | windows, windows2016 |
  Default binary versions:
  | name | version |
  |-|-|
  | hwc | 23.0.0 |
  * Uncached buildpack SHA256: 2e619938370b92d1091fee37ec926e77dd602223f846063a3dc037851a368c51
  * Uncached buildpack SHA256: 1944089ab21fb921709dc3dd28e2c9085384dbb867e4929207e41ebd03fd6733
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>loggregator-agent</td><td>6.5.9</td>
      <td>
        <details>
          <summary>v6.5.9</summary>
          <pre style="max-width: 30em">
  * Upgrade to go 1.20.2
  * Bump dependencies
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v6.5.8...v6.5.9
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>metrics-discovery</td><td>3.2.8</td>
      <td>
        <details>
          <summary>v3.2.8</summary>
          <pre style="max-width: 30em">
  * Upgrade to go1.20.2.
  * Bump dependencies.
  **Full Changelog**: https://github.com/cloudfoundry/metrics-discovery-release/compare/v3.2.7...v3.2.8
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>smoke-tests</td><td>4.8.2</td><td></td></tr>
    <tr><td>winc</td><td>2.10.0</td><td></td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td><td></td></tr>
    <tr><td>windowsfs-release</td><td>2.46.0</td><td></td></tr>
  </tbody>
</table>



### <a id='2.11.29'></a> 2.11.29

**Release Date:** 03/21/2023

* Bump diego to version `2.72.0`
* Bump envoy-nginx to version `0.15.0`
* Bump garden-runc to version `1.25.0`
* Bump winc to version `2.10.0`
* Bump windowsfs-release to version `2.46.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.72.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.15.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.25.0</td></tr>
    <tr><td>windows-syslog</td><td>1.1.13</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.28</td></tr>
    <tr><td>loggregator-agent</td><td>6.5.8</td></tr>
    <tr><td>metrics-discovery</td><td>3.2.7</td></tr>
    <tr><td>smoke-tests</td><td>4.8.2</td></tr>
    <tr><td>winc</td><td>2.10.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.46.0</td></tr>
  </tbody>
</table>



### <a id='2.11.28'></a> 2.11.28

**Release Date:** 02/27/2023

* Bump garden-runc to version `1.23.0`
* Bump windows-syslog to version `1.1.13`
* Bump hwc-offline-buildpack to version `3.1.28`
* Bump loggregator-agent to version `6.5.8`
* Bump metrics-discovery to version `3.2.7`
* Bump windowsfs-release to version `2.44.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td><td></td></tr>
    <tr><td>diego</td><td>2.71.0</td><td></td></tr>
    <tr><td>envoy-nginx</td><td>0.14.0</td><td></td></tr>
    <tr><td>event-log</td><td>0.9.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.23.0</td><td></td></tr>
    <tr><td>windows-syslog</td><td>1.1.13</td>
    <tr><td>windowsfs-release</td><td>2.44.0</td>

      <td>
        <details>
          <summary>v1.1.13</summary>
          <pre style="max-width: 30em">
  * update golang to 1.20.1
  **Full Changelog**: https://github.com/cloudfoundry/windows-syslog-release/compare/v1.1.12...v1.1.13
          </pre>
        </details>
        <details>
          <summary>v1.1.12</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * use go 1.20 by @rroberts2222 in https://github.com/cloudfoundry/windows-syslog-release/pull/18
  **Full Changelog**: https://github.com/cloudfoundry/windows-syslog-release/compare/v1.1.11...v1.1.12
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.28</td>
      <td>
        <details>
          <summary>3.1.28</summary>
          <pre style="max-width: 30em">
  * Updates github-config (#104)
  * Bump github.com/onsi/gomega from 1.24.2 to 1.26.0
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | hwc | 21.0.0 | windows, windows2016 |
  Default binary versions:
  | name | version |
  |-|-|
  | hwc | 21.0.0 |
  * Uncached buildpack SHA256: 92a52f3346131abbe2472b1f12a2ff4e304aeb6c497b7e3f10a3537be8c1e721
  * Uncached buildpack SHA256: 37813ac6ded74a0e87924a3a9cec19afb6d4e6dfc6a8ef8da83f7d02fecfdc82
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>loggregator-agent</td><td>6.5.8</td>
      <td>
        <details>
          <summary>v6.5.8</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * update dependencies
  * Upgrade to go 1.20.1 by @rroberts2222 in https://github.com/cloudfoundry/loggregator-agent-release/pull/224
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v6.5.7...v6.5.8
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>metrics-discovery</td><td>3.2.7</td>
      <td>
        <details>
          <summary>v3.2.7</summary>
          <pre style="max-width: 30em">
  * update golang to 1.20.1
  **Full Changelog**: https://github.com/cloudfoundry/metrics-discovery-release/compare/v3.2.6...v3.2.7###
          </pre>
        </details>
        <details>
          <summary>v3.2.6</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Upgrade to go 1.20 by @rroberts2222 in https://github.com/cloudfoundry/metrics-discovery-release/pull/104
  **Full Changelog**: https://github.com/cloudfoundry/metrics-discovery-release/compare/v3.2.5...v3.2.6
          </pre>
        </details>
        <details>
          <summary>v3.2.5</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Update dependencies
  * Expire individual metrics by @rroberts2222 in https://github.com/cloudfoundry/metrics-discovery-release/pull/103
  **Full Changelog**: https://github.com/cloudfoundry/metrics-discovery-release/compare/v3.2.4...v3.2.5
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>smoke-tests</td><td>4.8.2</td><td></td></tr>
    <tr><td>winc</td><td>2.9.0</td><td></td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td><td></td></tr>
  </tbody>
</table>



### <a id='2.11.27'></a> v2.11.27

**Release Date:** 02/09/2023

* **[Bug Fix]** Allows docker app workloads without a `sh` binary in the docker image to execute properly.
* Bump loggregator-agent to version `6.5.7`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td><td></td></tr>
    <tr><td>diego</td><td>2.71.0</td><td></td></tr>
    <tr><td>envoy-nginx</td><td>0.14.0</td><td></td></tr>
    <tr><td>event-log</td><td>0.9.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.22.9</td><td></td></tr>
    <tr><td>windows-syslog</td><td>1.1.11</td><td></td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.27</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.5.7</td>
      <td>
        <details>
          <summary>v6.5.7</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Sanitize ProcID in syslog messages so messages with utf-8 in the source_type are not dropped by @Benjamintf1 in https://github.com/cloudfoundry/loggregator-agent-release/pull/202
  * Update dependencies
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v6.5.6...v6.5.7
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>metrics-discovery</td><td>3.2.4</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.8.2</td><td></td></tr>
    <tr><td>winc</td><td>2.9.0</td><td></td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td><td></td></tr>
    <tr><td>windowsfs-release</td><td>2.42.0</td><td></td></tr>
  </tbody>
</table>



### <a id='2.11.26'></a> v2.11.26

**Release Date:** 01/31/2023

* Bump garden-runc to version `1.22.9`
* Bump windowsfs-release to version `2.42.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.71.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.14.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.22.9</td></tr>
    <tr><td>windows-syslog</td><td>1.1.11</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.27</td></tr>
    <tr><td>loggregator-agent</td><td>6.5.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.2.4</td></tr>
    <tr><td>smoke-tests</td><td>4.8.2</td></tr>
    <tr><td>winc</td><td>2.9.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.42.0</td></tr>
  </tbody>
</table>



### <a id='2.11.25'></a> v2.11.25

**Release Date:** 01/17/2023

* Bump diego to version `2.71.0`
* Bump garden-runc to version `1.22.7`
* Bump loggregator-agent to version `6.5.6`
* Bump smoke-tests to version `4.8.2`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td><td></td></tr>
    <tr><td>diego</td><td>2.71.0</td><td></td></tr>
    <tr><td>envoy-nginx</td><td>0.14.0</td><td></td></tr>
    <tr><td>event-log</td><td>0.9.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.22.7</td><td></td></tr>
    <tr><td>windows-syslog</td><td>1.1.11</td><td></td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.27</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.5.6</td>
      <td>
        <details>
          <summary>v6.5.6</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * fix scraping with non-positive intervals to preserve non-scraping behavior by @Benjamintf1 in https://github.com/cloudfoundry/loggregator-agent-release/pull/174
  * updated some dependencies.
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v6.5.5...v6.5.6
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>metrics-discovery</td><td>3.2.4</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.8.2</td>
      <td>
        <details>
          <summary>4.8.2</summary>
          <pre style="max-width: 30em">
  Port assets/ruby_simple to Ruby 3
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>winc</td><td>2.9.0</td><td></td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td><td></td></tr>
    <tr><td>windowsfs-release</td><td>2.41.0</td><td></td></tr>
  </tbody>
</table>



### <a id='2.11.24'></a> v2.11.24

**Release Date:** 12/15/2022

* **[Security Fix]** Fix CVE-2022-31733: Unsecured Application Port
* Bump diego to version `2.70.0`
* Bump envoy-nginx to version `0.14.0`
* Bump hwc-offline-buildpack to version `3.1.27`
* Bump loggregator-agent to version `6.5.5`
* Bump metrics-discovery to version `3.2.4`
* Bump winc to version `2.9.0`
* Bump windowsfs-release to version `2.40.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td><td></td></tr>
    <tr><td>diego</td><td>2.70.0</td><td></td></tr>
    <tr><td>envoy-nginx</td><td>0.14.0</td><td></td></tr>
    <tr><td>event-log</td><td>0.9.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.22.5</td><td></td></tr>
    <tr><td>windows-syslog</td><td>1.1.11</td><td></td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.27</td>
      <td>
        <details>
          <summary>3.1.27</summary>
          <pre style="max-width: 30em">
  * Add hwc 21.0.0, remove hwc 20.0.0
  for stack(s) windows2016, windows
  (https://www.pivotaltracker.com/story/show/183726731)
  * Bumps default version to match new HWC version
  * Bumps go.mod go version to 1.19
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | hwc | 21.0.0 | windows, windows2016 |
  Default binary versions:
  | name | version |
  |-|-|
  | hwc | 21.0.0 |
  * Uncached buildpack SHA256: ae83488a72f50d1725fb37fc35e819133ed07af82d872b9fe7fb34e9de18b92e
  * Uncached buildpack SHA256: 2e2e474d7677112021cc892627eddef0768e28835b6ad98117a260ea022e4463
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>loggregator-agent</td><td>6.5.5</td>
      <td>
        <details>
          <summary>v6.5.5</summary>
          <pre style="max-width: 30em">
  - bump-golang to v0.114.0 for golang 1.19.4
  - Bump google.golang.org/grpc from 1.50.1 to 1.51.0 in /src
  - Bump github.com/valyala/fasthttp from 1.41.0 to 1.43.0 in /src
  - Bump github.com/onsi/ginkgo/v2 from 2.5.0 to 2.5.1 in /src
  - Bump github.com/onsi/gomega from 1.24.0 to 1.24.1 in /src
  - Bump github.com/prometheus/client_model from 0.2.0 to 0.3.0 in /src
  - Bump golangci/golangci-lint-action from 3.3.0 to 3.3.1
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>metrics-discovery</td><td>3.2.4</td>
      <td>
        <details>
          <summary>v3.2.4</summary>
          <pre style="max-width: 30em">
  - bump-golang to v0.114.0 for golang 1.19.4
  - Bump github.com/nats-io/nats.go from 1.19.0 to 1.21.0 in /src
  - Bump google.golang.org/grpc from 1.50.1 to 1.51.0 in /src
  - Bump github.com/onsi/ginkgo/v2 from 2.5.0 to 2.5.1 in /src
  - Bump github.com/prometheus/client_golang from 1.13.1 to 1.14.0 in /src
  - Bump github.com/onsi/gomega from 1.24.0 to 1.24.1 in /src
  - Bump golangci/golangci-lint-action from 3.3.0 to 3.3.1
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>smoke-tests</td><td>4.8.1</td><td></td></tr>
    <tr><td>winc</td><td>2.9.0</td><td></td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td><td></td></tr>
    <tr><td>windowsfs-release</td><td>2.40.0</td></tr>
  </tbody>
</table>



### <a id='2.11.23'></a> v2.11.23

**Release Date:** 12/01/2022


<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.66.3</td></tr>
    <tr><td>envoy-nginx</td><td>0.13.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.22.5</td></tr>
    <tr><td>windows-syslog</td><td>1.1.11</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.26</td></tr>
    <tr><td>loggregator-agent</td><td>6.5.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.2.3</td></tr>
    <tr><td>smoke-tests</td><td>4.8.1</td></tr>
    <tr><td>winc</td><td>2.8.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.39.0</td></tr>
  </tbody>
</table>



### <a id='2.11.22'></a> v2.11.22

**Release Date:** 11/10/2022

* Bump envoy-nginx to version `0.13.0`
* Bump garden-runc to version `1.22.5`
* Bump windows-syslog to version `1.1.11`
* Bump hwc-offline-buildpack to version `3.1.26`
* Bump loggregator-agent to version `6.5.4`
* Bump metrics-discovery to version `3.2.3`
* Bump smoke-tests to version `4.8.1`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td><td></td></tr>
    <tr><td>diego</td><td>2.66.3</td><td></td></tr>
    <tr><td>envoy-nginx</td><td>0.13.0</td><td></td></tr>
    <tr><td>event-log</td><td>0.9.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.22.5</td><td></td></tr>
    <tr><td>windows-syslog</td><td>1.1.11</td><td></td></tr>
    <tr><td>windowsfs-release</td><td>2.39.0</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.26</td>
      <td>
        <details>
          <summary>3.1.26</summary>
          <pre style="max-width: 30em">
  * Update libbuildpack
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | hwc | 20.0.0 | windows, windows2016 |
  Default binary versions:
  | name | version |
  |-|-|
  | hwc | 20.0.0 |
  * Uncached buildpack SHA256: b9b2cec9ada73d9a2933a14e8e56f025c35b02d8bed7e74e20b093a23e13ec43
  * Uncached buildpack SHA256: f633f0f686fc9539ec8f4ef205e778c820602e51434730fd69f7caad4cfb3d4f
          </pre>
        </details>
        <details>
          <summary>3.1.25</summary>
          <pre style="max-width: 30em">
  * Update libbuildpack
  * Bump github.com/onsi/gomega from 1.19.0 to 1.20.2
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | hwc | 20.0.0 | windows, windows2016 |
  Default binary versions:
  | name | version |
  |-|-|
  | hwc | 20.0.0 |
  * Uncached buildpack SHA256: 5a0c73cda7fe06118e554a93d78b0587f581e3eb2a4d108274814d372935469b
  * Uncached buildpack SHA256: fa7565740a5f73f2b87cbce06104517fcbc69bb513497ed8db492cb7d42f3dd1
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>loggregator-agent</td><td>6.5.4</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.2.3</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.8.1</td>
      <td>
        <details>
          <summary>4.8.1</summary>
          <pre style="max-width: 30em">
  Create bosh final release 4.8.1
          </pre>
        </details>
        <details>
          <summary>4.8.0</summary>
          <pre style="max-width: 30em">
  Create bosh final release 4.8.0
          </pre>
        </details>
        <details>
          <summary>4.7.0</summary>
          <pre style="max-width: 30em">
  Create bosh final release 4.7.0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>winc</td><td>2.8.0</td><td></td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td><td></td></tr>
  </tbody>
</table>



<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>

### <a id='2-11-21'></a> v2.11.21

**Release Date:** 10/12/2022

* **[Feature Improvement]** Add option for file logging and improved event logging. For more information about syslog, see [Optional <%= vars.windows_runtime_abbr %> 3.0 compatible syslog option](#forward-compatible-syslog-forwarding).
* Bump envoy-nginx to version `0.12.0`
* Bump garden-runc to version `1.22.4`
* Bump windows-syslog to version `1.1.9`
* Bump loggregator-agent to version `6.5.1`
* Bump metrics-discovery to version `3.2.1`
* Bump winc to version `2.8.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.66.3</td></tr>
    <tr><td>envoy-nginx</td><td>0.12.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.22.4</td></tr>
    <tr><td>windows-syslog</td><td>1.1.9</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.24</td></tr>
    <tr><td>loggregator-agent</td><td>6.5.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.2.1</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>winc</td><td>2.8.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.37.0</td></tr>
  </tbody>
</table>

### <a id='2-11-20'></a> v2.11.20

**Release Date:** 09/20/2022

* **[Breaking Change]** If you have configured an app log rate limit that measures app log rates in lines per second, Diego immediately drops app logs that
exceed the app log rate limit. For more information, see [Diego Drops App Logs That Exceed the App Log Rate Limit](#dropped-app-logs) below.
* **[Feature Improvement]** Bump golang to 1.18 for diego, routing, cf-networking, and silk
* **[Known Issue]** If Git is not installed in the `PATH` environment variable for your Windows stemcell when you deploy <%= vars.windows_runtime_abbr %>, you
may encounter a version control system (VCS) stamping failure. For more information, see [Windows Stemcells Without Git Installed Cause VSC Stamping
Failures](#vsc-stamping-failure) below.
* Bump diego to version `2.66.3`
* Bump envoy-nginx to version `0.10.0`
* Bump garden-runc to version `1.22.0`
* Bump loggregator-agent to version `6.4.4`
* Bump metrics-discovery to version `3.1.2`
* Bump winc to version `2.7.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.66.3</td></tr>
    <tr><td>envoy-nginx</td><td>0.10.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.22.0</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.24</td></tr>
    <tr><td>loggregator-agent</td><td>6.4.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.1.2</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>winc</td><td>2.7.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
  </tbody>
</table>

### <a id='2-11-17'></a> v2.11.17

**Release Date:** 08/10/2022

* Bump loggregator-agent to version `6.4.3`
* Bump metrics-discovery to version `3.1.1`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.62.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.9.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.20.8</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.24</td></tr>
    <tr><td>loggregator-agent</td><td>6.4.3</td></tr>
    <tr><td>metrics-discovery</td><td>3.1.1</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>winc</td><td>2.5.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
  </tbody>
</table>

### <a id='2-11-16'></a> v2.11.16

**Release Date:** 07/18/2022

* Bump diego to version `2.62.0`
* Bump garden-runc to version `1.20.8`
* Bump loggregator-agent to version `6.4.2`
* Bump metrics-discovery to version `3.1.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.62.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.9.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.20.8</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.24</td></tr>
    <tr><td>loggregator-agent</td><td>6.4.2</td></tr>
    <tr><td>metrics-discovery</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>winc</td><td>2.5.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.35.0</td></tr>
  </tbody>
</table>

### <a id='2-11-15'></a> v2.11.15

**Release Date:** 06/23/2022

<p class='note warning'><strong>Warning:</strong> Upcoming breaking changes! In future patches, no sooner than July 1st 2022, some components will become more strict about the protocols used in TLS communications, causing integrations with systems using older, insecure protocols to fail. Specifically, components using the Go programming language will be updated to Go 1.18, and will no longer support TLS 1.0 and 1.1 connections or certificates with a SHA-1 checksum. This is most likely to affect connections with external databases. However, the pre-existing configuration for "TLS versions supported by the Gorouter" will still work. This change may not arrive all at once, as Go is used in systems throughout TAS. There will be a VMware Knowledge Base article about this change published prior to the changes rolling out. These changes will be clearly designated in the release notes of the versions they ship in; a version of this warning will appear on all patch versions until we are confident no systems remain to be updated.</p>

* Bump diego to version `2.62.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.62.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.9.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.20.6</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.24</td></tr>
    <tr><td>loggregator-agent</td><td>6.4.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.13</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>winc</td><td>2.5.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.35.0</td></tr>
  </tbody>
</table>

### <a id='2-11-14'></a> v2.11.14

**Release Date:** 06/09/2022
<p class='note warning'><strong>Warning:</strong> Breaking change. This version contains Diego 2.64.0, which bumps to Go 1.18. Go 1.18 no longer supports TLS 1.0 and 1.1 connections or certificates with a SHA-1 checksum. This is most likely to affect connections with external databases. We stated earlier that we wouldn't bump to Go 1.18 until July 1, 2022. This TAS release with Diego 2.64.0 breaks that promise. We apologize. We are rolling back to Diego 2.62.0.  If you already successfully deployed to this TAS release with Diego 2.64.0, then you are safe to continue using it.</p>

* Bump diego to version `2.64.0`
* Bump garden-runc to version `1.20.6`
* Bump loggregator-agent to version `6.4.1`
* Bump metrics-discovery to version `3.0.13`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.64.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.9.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.20.6</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.24</td></tr>
    <tr><td>loggregator-agent</td><td>6.4.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.13</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>winc</td><td>2.5.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.35.0</td></tr>
  </tbody>
</table>

### <a id='2-11-13'></a> v2.11.13

**Release Date:** 04/20/2022

* **[Breaking Change]** Syslog drains configured to use TLS now [reject certificates signed with the SHA-1 hash function](https://go.dev/doc/go1.18#sha1).
* Bump diego to version `2.62.0`
* Bump hwc-offline-buildpack to version `3.1.24`
* Bump loggregator-agent to version `6.3.11`
* Bump metrics-discovery to version `3.0.10`
* Bump winc to version `2.5.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td><td></td></tr>
    <tr><td>diego</td><td>2.62.0</td><td></td></tr>
    <tr><td>envoy-nginx</td><td>0.9.0</td><td></td></tr>
    <tr><td>event-log</td><td>0.9.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.20.3</td><td></td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.24</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.3.11</td>
      <td>
        <details>
          <summary>v6.3.11</summary>
          <pre>
  - fix bug with large messages (#89)
  - bump-golang to v0.100.0(now 1.18)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>metrics-discovery</td><td>3.0.10</td>
      <td>
        <details>
          <summary>v3.0.10</summary>
          <pre>
  - fix bug with large messages (#22)
  - bump-golang to v0.100.0(now 1.18)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>smoke-tests</td><td>4.5.0</td><td></td></tr>
    <tr><td>winc</td><td>2.5.0</td><td></td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td><td></td></tr>
    <tr><td>windowsfs-release</td><td>2.35.0</td></tr>
  </tbody>
</table>

### <a id='2-11-12'></a> v2.11.12

**Release Date:** 03/31/2022

* **[Feature Improvement]** Move aggregate drains to the syslog-binding cache to improve deploy speed and reduce errors.
* Bump diego to version `2.61.0`
* Bump garden-runc to version `1.20.3`
* Bump hwc-offline-buildpack to version `3.1.23`
* Bump loggregator-agent to version `6.3.10`
* Bump metrics-discovery to version `3.0.9`
* Bump windowsfs-release to version `2.35.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.61.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.9.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.20.3</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.23</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.10</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.9</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>winc</td><td>2.2.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.35.0</td></tr>
  </tbody>
</table>

### <a id='2-11-11'></a> v2.11.11

**Release Date:** 02/28/2022

* **[Feature Improvement]** Per Golang 1.17's new and stricter IP parsing standards, any IP addrs with leading zeros in any octets will result in a BOSH template failure to allow operators to remove the leading zeros and try again (affects properties fed into diego-release, garden-runc-release, winc-release, nats-release, and routing-release),.
* **[Bug Fix]** Smoke tests support for TLSv1.3 only option
* Bump diego to version `2.58.1`
* Bump envoy-nginx to version `0.9.0`
* Bump garden-runc to version `1.20.0`
* Bump hwc-offline-buildpack to version `3.1.22`
* Bump loggregator-agent to version `6.3.8`
* Bump metrics-discovery to version `3.0.8`
* Bump smoke-tests to version `4.5.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.58.1</td></tr>
    <tr><td>envoy-nginx</td><td>0.9.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.20.0</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.22</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.8</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.8</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>winc</td><td>2.2.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.33.2</td></tr>
  </tbody>
</table>

### <a id='2-11-10'></a> v2.11.10

**Release Date:** 02/08/2022

* **[Security Fix]** Diego - Bump containerd to v1.5.9 to fix CVE-2021-43816
* **[Feature Improvement]** <%= vars.windows_runtime_abbr %> supports compiled releases
* **[Feature Improvement]** Golang v1.17 contains stricter IP parsing standards, so syslog drains registered using user-provided services cannot contain IP addresses with leading zeros in any octets.
* **[Bug Fix]** windowsfs-release compilation issue - Cannot extract through symlink
* Bump diego to version `2.57.0`
* Bump hwc-offline-buildpack to version `3.1.21`
* Bump loggregator-agent to version `6.3.7`
* Bump metrics-discovery to version `3.0.7`
* Bump smoke-tests to version `4.4.0`
* Bump windowsfs-release to version `2.33.2`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td></tr>
    <tr><td>diego</td><td>2.57.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.21</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.7</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.7</td></tr>
    <tr><td>smoke-tests</td><td>4.4.0</td></tr>
    <tr><td>winc</td><td>2.2.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.33.2</td></tr>
  </tbody>
</table>

### <a id='2-11-9'></a> v2.11.9 - Withdrawn

<p class="note warning"><strong> Warning:</strong> This release has been removed from VMware Tanzu Network due to a regression in Windows FS Injector 0.21.0.</p>

**Release Date:** 12/15/2021

<%= partial "/pcf/tas/known-issues/windows-stemcell-tar" %>

* **[Bug Fix]** Diego - Envoy v1.19 uses the original TCP connection pool so that it can accept more than 1024 downstream connections
* **[Bug Fix]** Smoke Tests uses specified domain for Isolation Segments
* Bump diego to version `2.54.0`
* Bump loggregator-agent to version `6.3.5`
* Bump smoke-tests to version `4.3.1`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>~2019</td></tr>
    <tr><td>diego</td><td>2.54.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.20</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.5</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>smoke-tests</td><td>4.3.1</td></tr>
    <tr><td>winc</td><td>2.2.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.31.0</td></tr>
  </tbody>
</table>

### <a id='2-11-8'></a> v2.11.8

**Release Date:** 11/23/2021

<%= partial "/pcf/tas/known-issues/windows-stemcell-tar" %>

* Bump diego to version `2.53.1`
* Bump hwc-offline-buildpack to version `3.1.20`
* Bump windowsfs-release to version `2.31.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.0</td></tr>
    <tr><td>diego</td><td>2.53.1</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.20</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>winc</td><td>2.2.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.31.0</td></tr>
  </tbody>
</table>

### <a id='2-11-7'></a> v2.11.7

**Release Date:** 10/19/2021

<%= partial "/pcf/tas/known-issues/windows-stemcell-tar" %>

* No BOSH release bumps

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.0</td></tr>
    <tr><td>diego</td><td>2.53.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.18</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>winc</td><td>2.2.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.29.0</td></tr>
  </tbody>
</table>

### <a id='2-11-6'></a> v2.11.6

**Release Date:** 09/30/2021

<%= partial "/pcf/tas/known-issues/windows-stemcell-tar" %>

* **[Security Fix]** Fixes an issue where BBS socket connections could be kept alive unnecessarily
* **[Feature Improvement]** Disable Diego container proxy ALPN
* Bump diego to version `2.53.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.0</td></tr>
    <tr><td>diego</td><td>2.53.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.18</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>winc</td><td>2.2.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.29.0</td></tr>
  </tbody>
</table>

### <a id='2-11-5'></a> v2.11.5

**Release Date:** 09/17/2021

<%= partial "/pcf/tas/known-issues/windows-stemcell-tar" %>

* **[Bug Fix]** garden-runc - Fix handling reserved space on ext4 and generating bundle mounts when SMB volumes are present
* Bump garden-runc to version `1.19.30`
* Bump windowsfs-release to version `2.29.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.18</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>winc</td><td>2.2.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.29.0</td></tr>
  </tbody>
</table>

### <a id='2-11-4'></a> v2.11.4

**Release Date:** 09/09/2021

<%= partial "/pcf/tas/known-issues/windows-stemcell-tar" %>

* **[Bug Fix]** garden-runc - recover after cell restarts
* Bump garden-runc to version `1.19.29`
* Bump loggregator-agent to version `6.3.4`
* Bump windowsfs-release to version `2.28.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.29</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.18</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>winc</td><td>2.2.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.28.0</td></tr>
  </tbody>
</table>

### <a id='2-11-3'></a> v2.11.3

**Release Date:** 07/15/2021

<%= partial "/pcf/tas/known-issues/windows-stemcell-tar" %>

* Bump garden-runc to version `1.19.28`
* Bump hwc-offline-buildpack to version `3.1.18`
* Bump metrics-discovery to version `3.0.6`
* Bump windowsfs-release to version `2.27.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.28</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.18</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.3</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>winc</td><td>2.2.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.27.0</td></tr>
  </tbody>
</table>

### <a id='2-11-2'></a> v2.11.2

**Release Date:** 06/22/2021

<%= partial "/pcf/tas/known-issues/windows-stemcell-tar" %>

* **[Security Fix]** Bump some dependencies to resolve security vulnerabilities
* Bump loggregator-agent to version `6.3.3`
* Bump metrics-discovery to version `3.0.5`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.25</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.3</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.5</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>winc</td><td>2.2.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.26.0</td></tr>
  </tbody>
</table>

### <a id='2-11-1'></a> v2.11.1

**Release Date:** 05/27/2021

<%= partial "/pcf/tas/known-issues/windows-stemcell-tar" %>

* See [Known Issues](#known-issues).
* **[Feature Improvement]** Patch versions can be upgraded without a stemcell upgrade
* **[Bug Fix]** Smoke Test allows the operator to provide the apps_domain property when deploying TAS and also properly configures user provided space when deploying an isolation segment
* Bump diego to version `2.50.0`
* Bump garden-runc to version `1.19.25`
* Bump loggregator-agent to version `6.2.1`
* Bump smoke-tests to version `4.3.0`
* Bump windowsfs-release to version `2.26.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.25</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.2.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>winc</td><td>2.2.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.26.0</td></tr>
  </tbody>
</table>

### <a id='2-11-0'></a> v2.11.0

**Release Date:** March 30, 2021

<%= partial "/pcf/tas/known-issues/windows-stemcell-tar" %>

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.32</td></tr>
    <tr><td>diego</td><td>2.49.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.7.0</td></tr>
    <tr><td>event-log</td><td>0.9.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.18</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>6.2.0</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.2.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.23.0</td></tr>
  </tbody>
</table>


## <a id='upgrade'></a> How to Upgrade

The <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile is available with the release of <%= vars.ops_manager %> v2.10. For more information,
see the [<%= vars.ops_manager %>](https://docs.pivotal.io/ops-manager/2-10/index.html) documentation.

To use the <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile, you must install <%= vars.ops_manager %> v2.10 and <%= vars.app_runtime_full %>
(<%= vars.app_runtime_abbr %>) <%= vars.v_major_version %> or later.


## <a id='new-features'></a> New Features in <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>

There are no new features in this release of <%= vars.windows_runtime_abbr %>.


## <a id='breaking-changes'></a> Breaking Changes

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> includes the following breaking change:

### <a id='dropped-app-logs'></a> Diego Drops App Logs That Exceed the App Log Rate Limit

As of <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>.20, if you have configured an app log rate limit that measures app log rates in lines per
second, Diego immediately drops app logs that exceed the app log rate limit.

In <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>.19 and earlier, Diego buffers and releases approximately 5&nbsp;MB to 10&nbsp;MB of app logs
that exceed the app log rate limit. This behavior has changed in <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>.20 because Diego has been
upgraded to a newer version.

If this change in behavior causes parts of your deployment to fail, <%= vars.company_name %> recommends that you either modify any automated scripts that rely
on app log output or increase the app log rate limit.

For more information about app log rate limits, see [App Log Rate Limiting](../loggregator/app-log-rate-limits.html).

### <a id='forward-compatible-syslog-forwarding'></a> Optional <%= vars.windows_runtime_abbr %> 3.0 compatible syslog option

<%= vars.windows_runtime_abbr %> 3.0 includes changes to syslog forwarding. These changes include:

- Changes in syslog format to better match other tiles.
- Allows securely forwarding logs with tls enabled.
- Includes bosh logs to match other tiles and to aid in debugging and auditing the system.

These changes will only be enabled if you turn off `compatibility_mode` in the system logging window of the settings.

The formatting changes are detailed as follows:

* The priority is changed from `kernel/debug(7)` to `user/info(14)`.
* The app name is changed from `Microsoft-Windows-Security-Auditing` to `event_logger`.
* The process number is changed from a numerical process ID to `rs2`.
* Logs contain structured data for instance and deployment details.
* The event log JSON string includes additional fields.
* In the event log JSON string, field names are written in camel case.
* In the event log JSON string, fields may appear in a different order.

The following example shows the previous log format:

<pre class="terminal">
<7>1 2022-07-06T22:19:38.1413061Z 10.0.4.14 Microsoft-Windows-Security-Auditing 160 - - {"message":"A new process has been created.\r\n\r\nCreator Subject:\r\n\tSecurity ID:\t\tS-1-5-18\r\n\tAccount Name:\t\tVM-7F65ECCF-0D0$\r\n\tAccount Domain:\t\tWORKGROUP\r\n\tLogon ID:\t\t0x3e7\r\n\r\nTarget Subject:\r\n\tSecurity ID:\t\tS-1-0-0\r\n\tAccount Name:\t\t-\r\n\tAccount Domain:\t\t-\r\n\tLogon ID:\t\t0x0\r\n\r\nProcess Information:\r\n\tNew Process ID:\t\t0x1f7c\r\n\tNew Process Name:\tC\r\n\tToken Elevation Type:\t%%1936\r\n\tMandatory Label:\t\tS-1-16-16384\r\n\tCreator Process ID:\t0x248\r\n\tCreator Process Name:\tC\r\n\tProcess Command Line:\t\r\n\r\nToken Elevation Type indicates the type of token that was assigned to the new process in accordance with User Account Control policy.\r\n\r\nType 1 is a full token with no privileges removed or groups disabled.  A full token is only used if User Account Control is disabled or if the user is the built-in Administrator account or a service account.\r\n\r\nType 2 is an elevated token with no privileges removed or groups disabled.  An elevated token is used when User Account Control is enabled and the user chooses to start the program using Run as administrator.  An elevated token is also used when an application is configured to always require administrative privilege or to always require maximum privilege, and the user is a member of the Administrators group.\r\n\r\nType 3 is a limited token with administrative privileges removed and administrative groups disabled.  The limited token is used when User Account Control is enabled, the application does not require administrative privilege, and the user does not choose to start the program using Run as administrator.","source":"Microsoft-Windows-Security-Auditing"}
</pre>

The following example shows the new log format:

<pre class="terminal">
<14>1 2022-07-11T22:27:08.279742Z 10.0.4.12 event_logger rs2 - [instance@47450 az="us-central1-b" deployment="pas-windows-dfc8956c7081f9369571" director="" group="windows_diego_cell" id="d0564a0e-684f-4b58-99ee-6a59d1e7caf8"] {"MachineName":"vm-c5547227-c4fa-44ae-79d0-ee56f96e82a4","Data":[],"Index":162257,"Category":"(13312)","CategoryNumber":13312,"EventID":4688,"EntryType":8,"Message":"A new process has been created.\r\n\r\nCreator Subject:\r\n\tSecurity ID:\t\tS-1-5-18\r\n\tAccount Name:\t\tVM-C5547227-C4F$\r\n\tAccount Domain:\t\tWORKGROUP\r\n\tLogon ID:\t\t0x3e7\r\n\r\nTarget Subject:\r\n\tSecurity ID:\t\tS-1-0-0\r\n\tAccount Name:\t\t-\r\n\tAccount Domain:\t\t-\r\n\tLogon ID:\t\t0x0\r\n\r\nProcess Information:\r\n\tNew Process ID:\t\t0x1590\r\n\tNew Process Name:\tC\r\n\tToken Elevation Type:\t%%1936\r\n\tMandatory Label:\t\tS-1-16-16384\r\n\tCreator Process ID:\t0x1120\r\n\tCreator Process Name:\tC\r\n\tProcess Command Line:\t\r\n\r\nToken Elevation Type indicates the type of token that was assigned to the new process in accordance with User Account Control policy.\r\n\r\nType 1 is a full token with no privileges removed or groups disabled.  A full token is only used if User Account Control is disabled or if the user is the built-in Administrator account or a service account.\r\n\r\nType 2 is an elevated token with no privileges removed or groups disabled.  An elevated token is used when User Account Control is enabled and the user chooses to start the program using Run as administrator.  An elevated token is also used when an application is configured to always require administrative privilege or to always require maximum privilege, and the user is a member of the Administrators group.\r\n\r\nType 3 is a limited token with administrative privileges removed and administrative groups disabled.  The limited token is used when User Account Control is enabled, the application does not require administrative privilege, and the user does not choose to start the program using Run as administrator.","Source":"Microsoft-Windows-Security-Auditing","ReplacementStrings":["S-1-5-18","VM-C5547227-C4F$","WORKGROUP","0x3e7","0x1590","C:\\Windows\\System32\\wbem\\WMIC.exe","%%1936","0x1120","","S-1-0-0","-","-","0x0","C:\\bosh\\bosh-agent.exe","S-1-16-16384"],"InstanceId":4688,"TimeGenerated":"\/Date(1657578421000)\/","TimeWritten":"\/Date(1657578421000)\/","UserName":null,"Site":null,"Container":null}
</pre>

## <a id='known-issues'></a> Known Issues

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> includes the following known issues:

### <a id='no-stemcell-bump'></a> Upgrades Fail When the Stemcell Does Not Change

If you upgrade to a version of <%= vars.windows_runtime_abbr %> that uses the same stemcell, <%= vars.windows_runtime_abbr %> can fail to create containers,
causing the deployment to fail. If there are stemcell changes or if the Microsoft base layer changes, this error is unlikely to occur.

For more information, see [Failure to create containers when upgrading with shared Microsoft base
image](https://community.pivotal.io/s/article/knowledge-base-failure-to-create-containers-when-upgrading-with-shared-microsoft-base-image) in the VMware Tanzu
Knowledge Base.

### <a id='extra-failing-smoke-tests'></a> Smoke Tests Fail When <%= vars.segment_runtime_full %> is Deployed

The Smoke Test errand runs extra, failing tests when <%= vars.windows_runtime_abbr %> is deployed with <%= vars.segment_runtime_full %>. They are "Compute
isolation disabled" and "Application Workflow Linux Applications".

To work around this issue, disable Smoke Tests. For more information, see [Windows Tile smoke-tests fails for isolation segment
segments](https://community.pivotal.io/s/article/5004y00001iTlFg1635513986409) in the VMware Tanzu Knowledge Base.

### <a id='windows-stemcell-tar'></a> Windows Stemcell v2019.44 is Incompatible with winfs2019-release v2.33.1 and Earlier

Windows stemcells v2019.44 and later include a newer version of `tar` that is incompatible with `winfs2019-release` v2.33.1 and earlier.
<%= vars.windows_runtime_abbr %> deployments that use Windows stemcells v2019.44 and later cannot untar `winfs2019-release` v2.33.1 and earlier. Compatible
Windows stemcells for `winfs2019-release` v2.33.1 and earlier include v2019.0 through v2019.43.

### <a id='vsc-stamping-failure'></a> Windows Stemcells Without Git Installed Cause VSC Stamping Failures

If Git is not installed either on your Windows stemcell or in the `PATH` environment variable for your Windows stemcell when you deploy
<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>.20, you may see the following error:

<pre class="terminal">Stderr: 	Use -buildvcs=false to disable VCS stamping.</pre>

This occurs because some <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>.20 use Go v1.18, which embeds VSC information in binaries. As a result,
releases that contain `.git` files require that Git is installed either on your Windows stemcell or in the `PATH` for your Windows stemcell. If you do not
have Git installed in either location and have not set the `buildvcs` property to `false`, Go v1.18 fails to build the release.

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>.20 contains `windows2019fs-release`. Because `windows2019fs-release` contains `.git` files,
deployments of <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>.20 using Windows stemcells that do not have Git installed on them or in their
`PATH` fail with the VSC stamping error above.
