---
title: VMware Tanzu Application Service for Windows v5.0 Release Notes
owner: Garden Windows
---

This topic contains release notes for <%= vars.windows_runtime_full %> (<%= vars.windows_runtime_abbr %>) <%= vars.v_major_version %>.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a MySQL patch and VMware releasing
<%= vars.windows_runtime_abbr %> containing that patch.

Before you install the tile, review the [Windows Stemcell Compatibility Matrix](stemcells.html#compatibility).

<hr>

## <a id='releases'></a> Releases

### <a id='4.0.0'></a> 4.0.0

**Release Date:** 03/22/2023

* Bump diego to version `2.72.0`
* Bump envoy-nginx to version `0.15.0`
* Bump garden-runc to version `1.25.0`
* Bump loggregator-agent to version `7.1.2`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.44</td><td></td></tr>
    <tr><td>diego</td><td>2.72.0</td><td></td></tr>
    <tr><td>envoy-nginx</td><td>0.15.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.25.0</td><td></td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.28</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>7.1.2</td>
      <td>
        <details>
          <summary>v7.1.2</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * update to golang 1.20.1
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v7.1.1...v7.1.2
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>metrics-discovery</td><td>3.2.7</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.8.2</td><td></td></tr>
    <tr><td>winc</td><td>2.10.0</td><td></td></tr>
    <tr><td>windows-syslog</td><td>1.1.13</td><td></td></tr>
    <tr><td>windows-utilities</td><td>0.17.0</td><td></td></tr>
  </tbody>
</table>





## <a id='upgrade'></a> How to Upgrade

The <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile is available with the release of <%= vars.app_runtime_full %>
(<%= vars.app_runtime_abbr %>) <%= vars.v_major_version %>. To use the <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile, you must install
<%= vars.ops_manager_full %> v2.10 or later and <%= vars.app_runtime_abbr %> <%= vars.v_major_version %> or later.


## <a id='new-features'></a> New Features in <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> includes the following major feature:


## <a id='breaking-changes'></a> Breaking Changes


## <a id='known-issues'></a> Known Issues

There are no known issues for <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>.
