---
title: VMware Tanzu Application Service for Windows v7.0 Release Notes
owner: Garden Windows
---

These are the release notes for <%= vars.windows_runtime_full %> (<%= vars.windows_runtime_abbr %>) <%= vars.v_major_version %>.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a MySQL patch and VMware releasing
<%= vars.windows_runtime_abbr %> containing that patch.

Before you install the tile, review the [Windows Stemcell Compatibility Matrix](stemcells.html#compatibility).

<hr>

## <a id='releases'></a> Releases

### <a id='7.0.0'></a> 7.0.0

**Release Date:** TBD

### <a id='7.0.0-build.4'></a> 7.0.0-build.4

**Release Date:** 04/17/2024

* Bump diego to version `2.97.0`
* Bump garden-runc to version `1.51.0`
* Bump loggregator-agent to version `8.0.3`
* Bump otel-collector to version `0.4.1`
* Bump smoke-tests to version `4.10.0`
* Bump winc to version `2.22.0`
* Bump windows-syslog to version `1.2.5`
* Bump windowsfs-release to version `2.65.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.72</td><td></td></tr>
    <tr><td>count-cores-indicator</td><td>2.0.0</td><td></td></tr>
    <tr><td>diego</td><td>2.97.0</td>
      <td>
        <details>
          <summary>v2.97.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Adds support for comma-delimited destinations in ASGs
  - See: https://github.com/cloudfoundry/executor/pull/96 and https://github.com/cloudfoundry/bbs/pull/94
  - Bump bosh package blobs
  - Bumps `jq` to `1.7.1`
  - Bumps `tar`
  - Bump go.mod dependencies
  ## ✨  Built with go 1.21.8
  **Full Changelog**: https://github.com/cloudfoundry/diego-release/compare/v2.96.0...v2.97.0
  ## Resources
  - [Download release 2.97.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/diego-release?version=2.97.0).
          </pre>
        </details>
        <details>
          <summary>v2.96.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bump to golang 1.21.8
  - Golang package dependency bumps
  - Includes moving from docker v20 to docker v26
  - Includes moving from pgx v3 to pgx v5
  - Remove references to Consul from boshrelease + documentation
  - Many fixes to remove deprecated code and otherwise fix linter violations.
  ## ✨  Built with go 1.21.8
  **Full Changelog**: https://github.com/cloudfoundry/diego-release/compare/v2.95.0...v2.96.0
  ## Resources
  - [Download release 2.96.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/diego-release?version=2.96.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>envoy-nginx</td><td>0.24.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.51.0</td>
      <td>
        <details>
          <summary>v1.51.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bumped Golang to 1.21.8
  - Golang package dependency bumps
  - Many updates to get codebase passing the staticcheck linker
  - Updated garden-integration-tests to be a little less flakey
  ## ✨  Built with go 1.21.8
  **Full Changelog**: https://github.com/cloudfoundry/garden-runc-release/compare/v1.50.0...v1.51.0
  ## Resources
  - [Download release 1.51.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/garden-runc-release?version=1.51.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.35</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>8.0.3</td>
      <td>
        <details>
          <summary>v8.0.3</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump dependencies
  * Bump to [go1.21.9](https://groups.google.com/g/golang-announce/c/YgW0sx8mN3M/m/khALNYGdAAAJ)
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v8.0.2...v8.0.3
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>otel-collector</td><td>0.4.1</td>
      <td>
        <details>
          <summary>v0.4.1</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump dependencies
  * Bump to [go1.21.9](https://groups.google.com/g/golang-announce/c/YgW0sx8mN3M/m/khALNYGdAAAJ)
  **Full Changelog**: https://github.com/cloudfoundry/otel-collector-release/compare/v0.4.0...v0.4.1
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>smoke-tests</td><td>4.10.0</td>
      <td>
        <details>
          <summary>4.10.0</summary>
          <pre style="max-width: 30em">
  Create bosh final release 4.10.0
          </pre>
        </details>
        <details>
          <summary>4.9.5</summary>
          <pre style="max-width: 30em">
  Create bosh final release 4.9.5
  ## What's Changed
  * Upgrade Golang to 1.22 by @tas-operability-bot in https://github.com/pivotal/smoke-tests/pull/138
  **Full Changelog**: https://github.com/pivotal/smoke-tests/compare/4.9.5...4.9.5
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>winc</td><td>2.22.0</td>
      <td>
        <details>
          <summary>v2.22.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Many changes to remove usage of deprecated code + fix linting errors
  - Bump to golang 1.21.8
  - Golang package dependency bumps
  ## ✨  Built with go 1.21.8
  **Full Changelog**: https://github.com/cloudfoundry/winc-release/compare/v2.21.0...v2.22.0
  ## Resources
  - [Download release 2.22.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/winc-release?version=2.22.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>windows-syslog</td><td>1.2.5</td>
      <td>
        <details>
          <summary>v1.2.5</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump dependencies
  * Bump packaged Golang to go1.21.9
  **Full Changelog**: https://github.com/cloudfoundry/windows-syslog-release/compare/v1.2.4...v1.2.5
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>windows-utilities</td><td>0.20.0</td><td></td></tr>
    <tr><td>windowsfs-release</td><td>2.65.0</td><td></td></tr>
  </tbody>
</table>



## <a id='upgrade'></a> How to Upgrade

The <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile is available with the release of <%= vars.app_runtime_full %>
(<%= vars.app_runtime_abbr %>) <%= vars.v_major_version %>. To use the <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile, you must install
<%= vars.ops_manager_full %> v2.10 or later and <%= vars.app_runtime_abbr %> <%= vars.v_major_version %> or later.

## <a id='new-features'></a> New Features in <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> includes the following major feature:

### TBD

## <a id='breaking-changes'></a> Breaking changes

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> includes the following breaking changes:

## <a id='known-issues'></a> Known issues

There are no known issues for <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>.
