---
title: VMware Tanzu Application Service for Windows v5.0 Release Notes
owner: Garden Windows
---

These are the release notes for <%= vars.windows_runtime_full %> (<%= vars.windows_runtime_abbr %>) <%= vars.v_major_version %>.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a MySQL patch and VMware releasing
<%= vars.windows_runtime_abbr %> containing that patch.

Before you install the tile, review the [Windows Stemcell Compatibility Matrix](stemcells.html#compatibility).

<hr>

## <a id='releases'></a> Releases

### <a id='5.0.1'></a> 5.0.1

**Release Date:** 10/25/2023

* **[Bug Fix]** Prevent retired app instances from receiving traffic by ensuring rep emits events to cleanup routes when `cf restart-app-instance` is invoked.
* **[Feature]** Forwarder Agent emits a new metric, egress_expired_total, per egress destination to track the number of envelopes dropped from that designation's diode
* Bump diego to version `2.83.0`
* Bump envoy-nginx to version `0.21.0`
* Bump garden-runc to version `1.41.0`
* Bump loggregator-agent to version `7.6.4`
* Bump metrics-discovery to version `3.2.18`
* Bump winc to version `2.16.0`
* Bump windows-syslog to version `1.1.18`
* Bump windowsfs-release to version 2.59.0

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.66</td><td></td></tr>
    <tr><td>count-cores-indicator</td><td>2.0.0</td><td></td></tr>
    <tr><td>diego</td><td>2.83.0</td>
      <td>
        <details>
          <summary>v2.83.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - **[Bug Fix]** Prevent retired app instances from receiving traffic by ensuring rep emits events to cleanup routes when RetireActualLRP is called. (https://github.com/cloudfoundry/bbs/pull/72) (Fixes #820)
  - Thanks @vlast3k!
  - Cleans up stderr output from rep's `setup_mounted_data_dirs` script (#689)
  -  Thanks @romain-dartigues!
  - Docs updates for the container metrics changes from 2.82.0 (https://github.com/cloudfoundry/diego-release/pull/813)
  - Thanks @geigerj0!
  - Bump Golang to 1.21.3
  - Bump Envoy to 1.25.9
  - Bump Package Dependencies
  - CI Enhancments
  ## ✨  Built with go 1.21.3
  **Full Changelog**: https://github.com/cloudfoundry/diego-release/compare/v2.82.0...v2.83.0
  ## Resources
  - [Download release v2.83.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/diego-release?version=2.83.0).
          </pre>
        </details>
        <details>
          <summary>v2.82.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Diego now supports reading container networking metrics from garden, and publishing them along with other app container metrics. (https://github.com/cloudfoundry/diego-logging-client/pull/82, https://github.com/cloudfoundry/executor/pull/83)
  - Requires [garden-runc-release v1.38.0](https://github.com/cloudfoundry/garden-runc-release/releases/tag/v1.38.0) and [cf-networking-release v3.33.0](https://github.com/cloudfoundry/cf-networking-release/releases/tag/v3.33.0).
  - Thanks @geigerj0 and @jvecsei1!
  - Removed usage of the `code.cloudfoundry.org/systemcerts` package in favor of golang's builtin functionality.
  - Bumped to golang 1.21.0
  ## ✨  Built with go 1.21.0
  **Full Changelog**: https://github.com/cloudfoundry/diego-release/compare/v2.81.0...v2.82.0
  ## Resources
  - [Download release v2.82.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/diego-release?version=2.82.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>envoy-nginx</td><td>0.21.0</td>
      <td>
        <details>
          <summary>v0.21.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bumped to golang 1.21.3
  ## ✨  Built with go 1.21.3
  **Full Changelog**: https://github.com/cloudfoundry/envoy-nginx-release/compare/v0.20.0...v0.21.0
  ## Resources
  - [Download release 0.21.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/envoy-nginx-release?version=0.21.0).
          </pre>
        </details>
        <details>
          <summary>v0.20.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bump golang to 1.21.1
  ## ✨  Built with go 1.21.1
  **Full Changelog**: https://github.com/cloudfoundry/envoy-nginx-release/compare/v0.19.0...v0.20.0
  ## Resources
  - [Download release v0.20.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/envoy-nginx-release?version=0.20.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>garden-runc</td><td>1.41.0</td>
      <td>
        <details>
          <summary>v1.41.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bump go to 1.21.3
  ## ✨  Built with go 1.21.3
  **Full Changelog**: https://github.com/cloudfoundry/garden-runc-release/compare/v1.40.0...v1.41.0
  ## Resources
  - [Download release v1.41.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/garden-runc-release?version=1.41.0).
          </pre>
        </details>
        <details>
          <summary>v1.40.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bump Golang to 1.21.1
  ## ✨  Built with go 1.21.1
  **Full Changelog**: https://github.com/cloudfoundry/garden-runc-release/compare/v1.39.0...v1.40.0
  ## Resources
  - [Download release v1.40.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/garden-runc-release?version=1.40.0).
          </pre>
        </details>
        <details>
          <summary>v1.39.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Garden on Linux now supports propagating extended attributes from root filesystem images + when adding filesystem data to an existing container.
  - Bumped to golang 1.21.1
  ## ✨  Built with go 1.21.1
  **Full Changelog**: https://github.com/cloudfoundry/garden-runc-release/compare/v1.38.0...v1.39.0
  ## Resources
  - [Download release v1.39.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/garden-runc-release?version=1.39.0).
          </pre>
        </details>
        <details>
          <summary>v1.38.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Garden now supports advertising container networking metrics on Linux containers via the `garden.enable_container_network_metrics` property.
  - Requires [cf-networking-release v3.33.0](https://github.com/cloudfoundry/cf-networking-release/releases/tag/v3.33.0) or newer, and [diego v2.82.0](https://github.com/cloudfoundry/diego-release/releases/tag/v2.82.0) or newer.
  - Thanks @JVecsei1 and @geigerj0!!
  ## Bosh Job Spec changes:
  ```diff
  diff --git a/jobs/garden/spec b/jobs/garden/spec
  index 3bffb2f7..125909ed 100644
  --- a/jobs/garden/spec
  +++ b/jobs/garden/spec
  @@ -119,6 +119,10 @@ properties:
  description: "Additional hosts file entries to be used in containers."
  default: []
  +  garden.enable_container_network_metrics:
  +    description: "Enable container network metrics. This feature is only available on Linux."
  +    default: false
  +
  garden.insecure_docker_registry_list:
  description: "DEPRECATED in favour of grootfs property."
  default: []
  ```
  ## ✨  Built with go 1.20.7
  **Full Changelog**: https://github.com/cloudfoundry/garden-runc-release/compare/v1.37.0...v1.38.0
  ## Resources
  - [Download release v1.38.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/garden-runc-release?version=1.38.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.32</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>7.6.4</td>
      <td>
        <details>
          <summary>v7.6.4</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Feat(Forwarder Agent): Add a counter to track drops from egress diodes by @ctlong in https://github.com/cloudfoundry/loggregator-agent-release/pull/399
  * Bump golang to v1.20.10
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v7.6.3...v7.6.4
          </pre>
        </details>
        <details>
          <summary>v7.6.3</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump dependencies
  ### Experimental OTel Collector changes
  * Forwarder Agent now batches metrics sent to the co-located OTel Collector to improve performance.
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v7.6.2...v7.6.3
          </pre>
        </details>
        <details>
          <summary>v7.6.2</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump to [go1.20.8](https://groups.google.com/g/golang-announce/c/Fm51GRLNRvM/m/F5bwBlXMAQAJ)
  * Bump dependencies
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v7.6.1...v7.6.2
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>metrics-discovery</td><td>3.2.18</td>
      <td>
        <details>
          <summary>v3.2.18</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump golang to v1.20.10
  **Full Changelog**: https://github.com/cloudfoundry/metrics-discovery-release/compare/v3.2.17...v3.2.18
          </pre>
        </details>
        <details>
          <summary>v3.2.17</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Don't configure prom scraper to scrape when metrics-discovery-registrar or metrics-agent are disabled.
  * Bump dependencies
  **Full Changelog**: https://github.com/cloudfoundry/metrics-discovery-release/compare/v3.2.16...v3.2.17
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>smoke-tests</td><td>4.8.4</td><td></td></tr>
    <tr><td>winc</td><td>2.16.0</td>
      <td>
        <details>
          <summary>v2.16.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bumped to golang 1.21.3
  - CI Enhancements
  - Dependency Bumps
  ## ✨  Built with go 1.21.3
  **Full Changelog**: https://github.com/cloudfoundry/winc-release/compare/v2.15.0...v2.16.0
  ## Resources
  - [Download release v2.16.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/winc-release?version=2.16.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>windows-syslog</td><td>1.1.18</td>
      <td>
        <details>
          <summary>v1.1.18</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Update golang packages to use go1.20.8
  **Full Changelog**: https://github.com/cloudfoundry/windows-syslog-release/compare/v1.1.17...v1.1.18
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>windows-utilities</td><td>0.20.0</td><td></td></tr>
    <tr><td>windowsfs-release</td><td>2.59.0</td><td></td></tr>
  </tbody>
</table>



### <a id='5.0.0'></a> 5.0.0

**Release Date:** 10/17/2023

* **[Security Fix]** Bump smoke-tests to address Go CVE-2023-39533
* **[Breaking Change]** metrics-agent and metrics-discovery-registrar disabled by default
* **[Feature]** (Beta) Operators can export metrics off TAS using OpenTelemetry
* **[Feature]** App readiness healthchecks are now supported to remove/add apps to routing pools without restarting, based on a configurable healthcheck.
* **[Feature]** Add distributed tracing to Diego component logs.
* **[Feature]** Adds support for W3C Trace ID logging across Diego component requests
* **[Feature Improvement]** TAS/IST/TASW 5.0 UI text overhaul
* **[Feature Improvement]** Use routing_info for desired_lrps when there are missing actual_lrps.

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.65</td></tr>
    <tr><td>count-cores-indicator</td><td>2.0.0</td></tr>
    <tr><td>diego</td><td>2.81.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.19.0</td></tr>
    <tr><td>garden-runc</td><td>1.37.0</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.32</td></tr>
    <tr><td>loggregator-agent</td><td>7.6.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.2.16</td></tr>
    <tr><td>smoke-tests</td><td>4.8.4</td></tr>
    <tr><td>winc</td><td>2.15.0</td></tr>
    <tr><td>windows-syslog</td><td>1.1.17</td></tr>
    <tr><td>windows-utilities</td><td>0.20.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.57.0</td><td></td></tr>
  </tbody>
</table>

## <a id='upgrade'></a> How to upgrade

The <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile is available with the release of <%= vars.app_runtime_full %>
(<%= vars.app_runtime_abbr %>) <%= vars.v_major_version %>. To use the <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile, you must install
<%= vars.ops_manager_full %> v2.10 or later and <%= vars.app_runtime_abbr %> <%= vars.v_major_version %> or later.


## <a id='new-features'></a> New Features in <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> includes the following major feature:


## <a id='breaking-changes'></a> Breaking changes

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> includes the following breaking changes:

### Logging timestamp format changed for some TAS for VMs [Windows] jobs

Existing automation that parses logs from TASW components may break if they are still
expecting timestamps formatted as epoch time. Specifically, logs from groot and
garden_windows have been converted to RFC 3339 timestamps.

If it was necessary to adjust log parsing in your system for TAS/TASW 4.0 to account for the change in
timestamp format, update log parsing in the same manner for TAS/TASW 5.0, but for the TASW groot and
garden_windows jobs.


## <a id='known-issues'></a> Known issues

There are no known issues for <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>.
