---
title: Downloading or creating Windows stemcells in Cloud Foundry
owner: Windows
---

You can download or create the stemcells that <%= vars.windows_runtime_full %>
needs for creating VMs on your infrastructure.

<p class="note important">
<span class="note__title">Important</span>
Traffic is not encrypted with TLS between Gorouter and Windows stemcells.</p>


## <a id="stemcell"></a> Windows stemcells

A BOSH stemcell is a versioned OS image wrapped with IaaS specific packaging.
BOSH uses a stemcell to supply the basic OS for any Windows VM it creates.
A typical BOSH stemcell for Windows contains:

* A bare minimum Windows OS skeleton
* A BOSH agent
* OS configuration files and common utilities

For more information about stemcells, see the [BOSH documentation](https://bosh.io/docs/stemcell/)
in the Cloud Foundry BOSH documentation.

### <a id="compatibility"></a> Windows stemcell compatibility

Check the compatibility details before deploying and installing the <%= vars.windows_runtime_abbr %> tile. See [Stemcells (Windows)](https://network.tanzu.vmware.com/products/stemcells-windows-server) on VMware Tanzu Network.

Depending on your IaaS, you can create or download a stemcell using the following methods:

* **Azure**: To activate and download the Azure Windows Stemcell, see [Configuring the Azure Light Stemcell](#azure).

* **Google Cloud Platform (GCP)**: Download the **GCP light Stemcell for Windows 2019 Server**
  from the [Stemcells (Windows)](https://network.tanzu.vmware.com/products/stemcells-windows-server/)
  page on <%= vars.product_network %>.

* **vSphere**: To create a stemcell, see [Creating a Windows Stemcell for vSphere using stembuild](create-vsphere-stemcell-automatically.html).

* **Amazon Web Services (AWS)**: Download the **AWS light Stemcell for Windows 2019 Server**
  from the [Stemcells (Windows)](https://network.tanzu.vmware.com/products/stemcells-windows-server/)
  page on <%= vars.product_network %>.


## <a id="azure"></a> Configuring the Azure Light Stemcell

On Azure, the stemcell is offered in the Azure Marketplace.

To start using the Azure Light Stemcell:

- [Enabling the Azure Light Stemcell](#use)
- [Downloading the Azure Light Stemcell](#download)

### <a id="use"></a> Activating the Azure Light Stemcell

To use the Azure Light Stemcell, you must first accept the corresponding Microsoft license agreement, and enable the stemcell for your non-trial Azure Subscription through the Azure Marketplace.

### <a id="enable-sub"></a> Activating Azure subscriptions

To activate the Azure subscriptions that you want your stemcell to use:

1. Go to the [Microsoft Azure portal](https://portal.azure.com) and log in.

1. From the options on the left pane, click **+ Create a resource**.

1. In **Search the Marketplace**, search for **BOSH Stemcell for Windows Server 2019**.

1. Select **BOSH Stemcell for Windows Server 2019** from your search results. A description of the Azure stemcell appears.

1. Click the blue banner that reads **Want to deploy programmatically? Get started**.

1. Review the Terms of Use on the **Configure Programmatic Deployment** page that appears.

1. Under **Choose the subscriptions**, click **Enable** for each Azure subscription with which you want to use the stemcell.

1. Click **Save**.

### <a id="accept-license"></a> Accepting the license agreement

To accept the license agreement for your stemcell:

1. Log in to to Azure with the Azure CLI, using this command:

    ```console
    az login
    ```

1. To list the available Windows stemcells and find latest Windows stemcell `urn`, run this Azure CLI command:

	```console
	az vm image list --all --publisher pivotal --sku 2019
	```

  For example:

	<pre class="terminal">
	az vm image list --all --publisher pivotal --sku 2019
	Offer                     Publisher    Sku    Urn                                                  Version
	------------------------  -----------  -----  ---------------------------------------------------  -------------
	bosh-windows-server-2019  pivotal      2019   pivotal:bosh-windows-server-2019:2019:2019.1.050001  2019.1.050001
	bosh-windows-server-2019  pivotal      2019   pivotal:bosh-windows-server-2019:2019:2019.2.022001  2019.2.022001
	bosh-windows-server-2019  pivotal      2019   pivotal:bosh-windows-server-2019:2019:2019.3.041001  2019.3.041001
	bosh-windows-server-2019  pivotal      2019   pivotal:bosh-windows-server-2019:2019:2019.4.044001  2019.4.044001
	bosh-windows-server-2019  pivotal      2019   pivotal:bosh-windows-server-2019:2019:2019.5.006001  2019.5.006001
	bosh-windows-server-2019  pivotal      2019   pivotal:bosh-windows-server-2019:2019:2019.6.025001  2019.6.025001
	bosh-windows-server-2019  pivotal      2019   pivotal:bosh-windows-server-2019:2019:2019.7.012001  2019.7.012001
	bosh-windows-server-2019  pivotal      2019   pivotal:bosh-windows-server-2019:2019:2019.8.028001  2019.8.028001
	</pre>

	In the previous example, `pivotal:bosh-windows-server-2019:2019:2019.8.028001` is the
    latest Windows stemcell `urn`.

1. To accept the terms for the selected Windows stemcell for each Azure subscription you want to use for the stemcell, run this command:

    ```console
    az vm image accept-terms --subscription SUBSCRIPTION_ID --urn URN-ID
    ```

    Where:
        <ul>
           <li>`SUBSCRIPTION_ID` is an Azure subscription with which you want to use the stemcell.</li>
           <li>`URN-ID` is the `urn` for the latest Windows stemcell.
        </ul>


### <a id="download"></a> Downloading the Azure Light Stemcell

To download the Azure Light Stemcell for use in VMware Tanzu Operations Manager:

1. Go to the [Stemcells (Windows)](https://network.tanzu.vmware.com/products/stemcells-windows-server/)
   page on <%= vars.product_network %>.

2. Download the **Azure Light Stemcell for Windows 2019 Server**.

For information about how to deploy and configure the <%= vars.windows_runtime_abbr %> tile, see [Installing and configuring <%= vars.windows_runtime_abbr %>](./installing.html).
