---
title: Windows authentication for .Net apps
owner: Windows
---

Learn how to integrate your Windows Diego Cells with an existing Active Directory domain to enable support for
apps using Windows Authentication. With Windows Authentication, you can access a Windows app on <%= vars.windows_runtime_abbr %> to transparently authenticate using your domain credentials.

## <a id='security'></a> Security considerations

Do not use HTTP routing via the GoRouter for apps that use Windows Authentication. Windows Authentication sessions are cached by source IP and port. The GoRouter [maintains TCP connections](../concepts/http-routing.html#back-end) to app containers and re-uses them for subsequent inbound HTTP requests. This implies that a given GoRouter uses the same port to talk to an app for multiple users. User authentication sessions end up being shared among multiple users making HTTP requests to the Windows Authentication app, which is a serious security hazard.

To avoid this risk, use TCP routing. The TCP router does not maintain connections to app containers in the same fashion as the GoRouter does, so user authentication sessions are not shared among multiple users. To enable TCP routing, see [Configure Networking](../operating/configure-pas.html#networking) for the <%= vars.app_runtime_abbr %> tile.

Apps using Windows Authentication should use the `--no-route` flag to `cf push`, or specify a `routes` stanza in the app manifest with only a TCP route.

Apps using Windows Authentication can use the `--no-route` flag for the  `cf push` command, or specify a `routes` stanza in the app manifest with only a TCP route. The `--no-route` flag no longer unbinds all existing routes associated with the app.

## <a id='prerequisites'></a> Prerequisites

Before you configure the <%= vars.windows_runtime_abbr %> tile for Windows Authentication, ensure that you meet the following requirements:

* Your Active Directory instance must be configured with a GMSA and a regular user that has been granted access to the GMSA credentials. See the [Microsoft docs](https://learn.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/manage-serviceaccounts) for specifics.
* Your Windows Diego cells must have the appropriate [firewall rules](https://learn.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/gmsa-troubleshooting#check-the-firewall-configuration) to access the Active Directory instance.
* [Application Security Groups](../concepts/asg.html) must be configured to allow traffic from app containers to the Active Directory instance.
* [TCP Routing](../operating/configure-pas.html#networking) must be enabled and configured.

<p class="note caution"><strong>Caution:</strong> Using Windows Authentication via the GoRouter is strongly discouraged because it will result in authentication sessions for one user being returned to a different user. Apps using Windows Authentication should <strong>only</strong> be accessed via TCP routes.</p>

* The **The Gorouter and apps use mutual TLS to verify each other’s identity** setting described in [Advanced Features](installing.html#config-advanced-features) must not be selected, as this deactivates TCP routing.
* Depending on your IaaS, you may need to configure BOSH DNS handlers so that your app containers can resolve domain resources via the Active Directory instance. See the <a class="external-link" href="https://docs.pivotal.io/ops-manager/install"><strong>Ops Manager Documentation</strong></a> for IaaS-specific instructions.
* Apps intending to use Windows Authentication must use the HWC buildpack.

<p class="note"><strong>Note:</strong> We strongly recommend using an isolation segment for Windows Authentication, as all apps in the <%= vars.windows_runtime_abbr %> installation will have access to the GMSA credentials. To associate a <%= vars.windows_runtime_abbr %> tile with an isolation segment so that its Diego Cells run in that segment, see <a href="./isolation.html">Windows Diego Cells in Isolation Segments</a>.</p>


## <a id='limitations'></a> Limitations

* Authenticating via the cf cli with Windows Authentication is not supported.
* Every app in the <%= vars.windows_runtime_abbr %> installation will have access to the GMSA credentials. There is no way to configure it on an app-by-app basis.
* Windows Authentication delegation from app to service is not supported.

## <a id='configure-tile'></a> Configuring the tile

Start by following the steps in the [Microsoft docs](https://learn.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/manage-serviceaccounts#create-a-credential-spec) to create the appropriate values, then select **Windows Authentication** and follow this procedure:

1. Under **Windows Authentication**, select **Configure**.
2. In the **For security reasons, apps using Windows Authentication must use TCP routing.**, field, enter `X` to acknowledge this requirement. See [Security considerations](#security) for the details.
3. In the **Active Directory FQDN** field, enter the domain of the Active Directory instance that app containers use for authentication.
4. In the **Standard user name** field, enter the name of the user account with access to the gMSA password. This is a user account.
5. In the **Standard user password** field, enter the password of the user account with access to the gMSA password. This is a user account.
6. In the **Container credential spec** field, enter a JSON string that describes the gMSA account and domain details. For more information on Windows Authentication, see [Microsoft docs](https://learn.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/manage-serviceaccounts#create-a-credential-spec).
7. Click **Save**.
8. [Deploying the tile](installing.html#deploy).

## <a id='rotating'></a> Rotating the standard user

Follow the steps in the [Microsoft docs](https://learn.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/manage-serviceaccounts#use-case-for-creating-gmsa-account-for-non-domain-joined-container-hosts), but do not create a new service account or security group.

1. Create a new user account.
2. Add the user to the security group that guards access to the GMSA service account.
3. Update the **Standard user name** and **Standard user password** fields with the new user information.
4. Click **Save**.
5. [Deploying the tile](installing.html#deploy).


## <a id='troubleshooting'></a> Troubleshooting

For troubleshooting details, see [Troubleshooting Windows authentication](./troubleshooting.html#windows-authentication).
